<solacetk-model-list [(model)]="model" moduleName="Action Messages" modelUri="Events/messages">
    <div class="editor">
        <mat-form-field class="auto-flex font-small model-formfield">
            <mat-label>Target</mat-label>
            <input matInput placeholder="Target Name" [(ngModel)]="model.targetName">
        </mat-form-field>
        <mat-form-field class="auto-flex font-small model-formfield">
            <mat-label>Operator</mat-label>
            <mat-select [(ngModel)]="model.targetType">
                <mat-option *ngFor="let op of targets" [value]="targets.indexOf(op)">{{op}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="editor-panels">
        <solacetk-attributes-panel [panelMode]="1" panelName="Message Data" [(model)]="model.data" panelType="expansionpanel">

        </solacetk-attributes-panel>
    </div>
</solacetk-model-list>