.full-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
}

.loader {
    position: fixed;
    right:50%;
    left: 50%;
    Top: 50%;
    z-index: 1000;
}

:host {
    display: flex;
}

