<mat-card class="full-height" [style.background-color]="modelColor">

    <mat-card-title-group class="align-center">
        <div mat-card-avatar class="no-flex">
            <solacetk-svg-plate [plateText]="modelType"></solacetk-svg-plate>
        </div>
        <div class="auto-flex">
            <div class="gap-1 auto-flex"></div>
            <mat-card-title
                style="height: 64px; width: auto; overflow: hidden; text-transform: uppercase; font-size: 1.15em; line-height: 1.5em;">{{model.name}}</mat-card-title>
        </div>
        <div class="auto-flex">
            <ng-content select=".model-header"></ng-content>
        </div>
    </mat-card-title-group>

    <mat-card-content style="overflow: hidden; height: 48px;">
        <mat-card-subtitle class="full-width">{{model.description}}</mat-card-subtitle>
        <ng-content select=".model-content"></ng-content>
    </mat-card-content>

    <mat-card-actions class="align-end full-width">
        <div *ngIf="hasPreview" class="disp-flex full-width align-center" style="text-align: justify;">
            <div class="auto-flex"></div>
            <img class="sprite no-flex" style="height: 192px; image-rendering: pixelated; image-rendering: crisp-edges;"
                [src]="GetPreviewUrl(model)" alt="sprite">
            <div class="auto-flex"></div>
        </div>
    </mat-card-actions>

    <mat-card-footer class="disp-flex auto-flex">
        <ng-content select=".model-footer"></ng-content>
        <solacetk-tags class="auto-flex align-end" *ngIf="model.tags" [(model)]="model.tags"
            [canEdit]="false"></solacetk-tags>
    </mat-card-footer>

</mat-card>