<solacetk-model-list [(model)]="model" (modelCreate)="Create()" moduleName="Particle Systems"
    modelUri="Controllers/particlesystems" [indev]="true">

    <!-- <character-controller [(model)]="model" editor-content></character-controller> -->
    <div class="editor">

        <div class="disp-flex">
            <!-- <mat-form-field class="auto-flex model-formfield small-field-two-items">
                <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
            </mat-form-field> -->
        </div>


        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">
    </div>

</solacetk-model-list>