<!-- Editor Model Tags View: -->
<div *ngIf="canEdit">

    <mat-form-field class="auto-flex font-small disp-flex flex-col">

        <mat-label class="font-small">{{tkHeading}}</mat-label>
        <mat-chip-grid class="auto-flex font-small" #chipList aria-label="Tag Selection">
            
            <mat-chip class="font-small" style="flex: 1 1 4em;" *ngFor="let tag of tagItems" (removed)="remove(tag)" (click)="chipClick(tag)">
                {{tag}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input matInput class="auto-flex font-small" [placeholder]="placeholderText" #tagInput [formControl]="tagCrtl"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">

        </mat-chip-grid>

        <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag}}
            </mat-option>
        </mat-autocomplete> -->

    </mat-form-field>

</div>

<!-- Read-Only Model Tags View: -->
<div *ngIf="!canEdit">

    <mat-chip-set #cardChips class="auto-flex font-small full-width flex-col" #chipList aria-label="Tag Selection">

        <div class="auto-flex disp-flex sol-card-chips flex-flow-reverse flex-wrap-reverse">
            <mat-chip class="font-small auto-flex" style="flex: 0 1 4em;" mat-button *ngFor="let tag of tagItems" (removed)="remove(tag)" (click)="chipClick(tag)">
                <small>{{tag}}</small>
            </mat-chip>
        </div>
        
    </mat-chip-set>

</div>