<solacetk-model-list [(model)]="model" (modelLoaded)="timelineLoaded()" moduleName="Timelines" modelUri="Timelines">

    <div class="editor">

    </div>

    <div class="editor-actions">
        <button mat-button color="primary" (click)="openCardsSheet()">Add Story Card</button>
    </div>

    <div class="editor-panels">

        <!-- <div class="full-width disp-flex"> -->

        <div class="auto-flex" *ngFor="let storyCard of model.storyCards">

            <!-- <div class="disp-flex no-flex align-center relative-container">
                        <mat-icon>event</mat-icon>
                    </div> -->

            <div class="disp-flex auto-flex">
                <div class="width-15 no-flex">
                    <svg width="100%" height="100%">

                        <line *ngIf="storyCard.order != 0" x1="50%" y1="0" x2="50%" y2="45%" style="stroke: white; stroke-width: 3px;" />
                        <line x1="50%" y1="50%" x2="100%" y2="50%" style="stroke: white; stroke-width: 3px;" />
                        <line *ngIf="storyCard.order != model.storyCards.length - 1" x1="50%" y1="55%" x2="50%" y2="100%" style="stroke: white; stroke-width: 3px;" />
                        <circle cx="50%" cy="50%" r="16" stroke="white" stroke-width="2" fill="coral" />
                        <text class="align-center full-width auto-flex" x="43.5%" y="52%" fill="white" style="text-align: center;">{{storyCard.order}}</text>
                       
                    </svg>
                </div>

                <!-- <div class="gap-1 no-flex"></div> -->

                <solacetk-storycard class="no-flex width-33" [model]="storyCard" panelType="panel" [readonly]="true">
                </solacetk-storycard>
            </div>

            <!-- Add this to a disp-flex and add an SVG to join the lines. -->
            <div class="disp-flex width-15 no-flex">
                    <svg width="100%" height="48px">
                        <line *ngIf="storyCard.order != model.storyCards.length - 1" x1="50%" y1="0" x2="50%" y2="100%" style="stroke: white; stroke-width: 3px;" />
                        <circle *ngIf="storyCard.order != model.storyCards.length - 1" 
                        cx="50%" cy="55%" r="5" stroke="white" stroke-width="2" fill="white" />
                    </svg>
                <!-- <div class="gap-1 no-flex"></div> -->
            </div>

            <!-- <div class="min-width-1 no-flex">
                    <svg width="8px" height="100%">

                        <line x1="4" y1="0" x2="4" y2="100%" style="stroke: white; stroke-width: 3px;" />
                    </svg>
                </div> -->

            <!-- <div class="gap-1 no-flex"></div> -->



        </div>
        <!-- </div> -->

    </div>

</solacetk-model-list>