<h1>Projects</h1>

<mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="step = 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <icon-github></icon-github>
            <h2>GitHub</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <section id="projects-github">
            <mat-divider></mat-divider>
            <mat-list role="list">

                <mat-list-item class="auto-height mb-2">
                    <git-project-card class="full-width" gitUrl="'https://github.com/JRBowman/ansible-winset'" 
                    gitName="JRBowman / ansible-winset">
                        <p>Home for Windows Ansible Playbooks.</p>
                        <p>The aim of this repository is to create a source of all common Windows Administration tasks that can be automated with Ansible.</p>
                    </git-project-card>
                </mat-list-item>
                
                <mat-list-item class="auto-height mb-2">
                    <git-project-card class="full-width" gitUrl="'https://github.com/JRBowman/ocp-pipelines-content'" 
                    gitName="JRBowman / ocp-pipelines-content">
                        <p>Tekton / OpenShift 4 Pipelines Builds, Triggers, etc.</p>
                        <p>Content, Runbook, Yaml Templates, etc. For OpenShift 4 Pipelines. More content to come.</p>
                    </git-project-card>
                </mat-list-item>
                
                <mat-list-item class="auto-height mb-2">
                    <git-project-card class="full-width" gitUrl="'https://github.com/JRBowman/rhet-log'" 
                    gitName="JRBowman / rhet-log">
                        <p>Interactive Angular Application to work with Red Hat Emerging Technology.</p>
                        <p>Red Hat Emerging Technology Catalog - A visual catalog of RH products, features, capabilities, and SSA/SA driven content.</p>
                    </git-project-card>
                </mat-list-item>
                
                </mat-list>
        </section>
      <mat-action-row>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <icon-azuredevops></icon-azuredevops>
              <h2 class="no-break">Azure DevOps</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <section id="projects-azuredevops">
            <mat-divider></mat-divider>
            <mat-list role="list">

                <mat-list-item class="auto-height mb-2">
                    <git-project-card class="full-width" gitUrl="'https://dev.azure.com/bowman-redhat/bowman-site'"
                    gitName="Bowman / bowman-site"
                    [sourceType]="1">
                        <p>Project for the current onbowman.com website!</p>
                        <p>This project drives all the content that is publically available here on this site. This project will likely be made public so
                            the community can contribute towards features! Please, feel free to request access in the current state if you'd like to help
                            build out an awesome site.
                        </p>
                    </git-project-card>
                </mat-list-item>
            
                <mat-list-item class="auto-height mb-2">
                    <git-project-card class="full-width" gitUrl="'https://dev.azure.com/bowman-redhat/dotnet-msoa'" 
                    gitName="Bowman / dotnet-msoa"
                    [sourceType]="1">
                        <p>Microservice-Oriented Application Stack Example</p>
                        <p>Complex .NET 5 Microservice-Oriented Application (MSOA) - Produces a number of modernization use cases / examples to work from
                            when it comes to refactoring and replatforming a full stack application.
                        </p>
                    </git-project-card>
                </mat-list-item>
                
            </mat-list>
        </section>
    </mat-expansion-panel>
</mat-accordion>