<solacetk-model-list [(model)]="model" moduleName="Behavior Systems" modelUri="Behaviors/systems" moduleColor="#603060"
    modulePlateType="Be" [(moduleData)]="moduleData">
    <div class="editor">

        <div class="disp-flex">
            <mat-form-field class="auto-flex font-small">

                <input matInput #startState placeholder="Start State" [(ngModel)]="model.startState">
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

    </div>

    <div class="editor-panels disp-flex flex-gap-050 auto-flex">

        <!-- <solacetk-paged-panel [(model)]="model.behaviors" panelName="Behavior Works"
            style="flex: 1 1 48em;"></solacetk-paged-panel> -->

        <solacetk-attributes-panel style="flex: 1 1 48em;" panelName="State Variables Collection"
            panelType="panel" [(model)]="model.varData" [panelMode]="1" unitHeight="10em;">
        </solacetk-attributes-panel>

        <mat-expansion-panel style="flex: 1 1 48em;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="mr-2">schema</mat-icon>
                    Behavior Works
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>

                <div cdkDropList (cdkDropListDropped)="dropBranches($event)">


                    <div class="disp-flex flex-gap-050">
                        <div class="auto-flex" style="flex: 1 1 18em; width: 18em;"
                            *ngFor="let behavior of model.behaviors">


                            <solacetk-model-card class="auto-flex align-center" style="width: inherit;"
                                *ngIf="!behavior.noOp" [(model)]="behavior.animation">
                                <div class="model-header disp-flex">
                                    <div class="gap-1 auto-flex"></div>
                                    <button mat-icon-button matTooltip="Remove Behavior"
                                        (click)="RemoveState(behavior)"><mat-icon>cancel</mat-icon></button>
                                </div>
                            </solacetk-model-card>


                            <solacetk-panel *ngIf="behavior.noOp" class="auto-flex" panelColor="#803040"
                                [panelName]="behavior?.name ?? ''" fontSize="medium">

                                <div class="panel-content auto-flex">

                                    <mat-chip-listbox class="auto-flex" aria-label="Branch States" multiple="false"
                                        selectable="false">
                                        <mat-chip-option class="font-small auto-flex width-33"
                                            *ngFor="let nState of behavior.nextStates"
                                            [style.background-color]="'#545c80'" style="overflow: hidden;">
                                            {{nState.name}}
                                        </mat-chip-option>
                                    </mat-chip-listbox>

                                </div>

                            </solacetk-panel>
                        </div>
                    </div>

                </div>

            </ng-template>


            <mat-action-row>
                <button mat-button color="primary" (click)="openBranchesSheet()">Add State</button>
                <button mat-button color="primary" (click)="openBranchesSheet('?noop=true')">Add Branch</button>
            </mat-action-row>

        </mat-expansion-panel>

        <solacetk-event-panel [(model)]="model.events" style="flex: 1 1 32em;">
            <div class="action-row">
                <button mat-button color="primary" (click)="openActionsSheet()">Import</button>
            </div>
        </solacetk-event-panel>

    </div>

    <div class="editor-buttons">
        <button mat-icon-button color="warn" class="no-flex" matTooltip="Generate Texture Atlas"
            aria-label="Generate a Texture Atlas" (click)="GenerateAtlas()">
            <mat-icon>close</mat-icon>
          </button>
    </div>
</solacetk-model-list>