<solacetk-model-list [(model)]="model" moduleName="Behavior Systems" modelUri="Behaviors/systems">
    <div class="editor">

        <div class="disp-flex">
            <mat-form-field class="auto-flex">
                <input matInput #startState placeholder="Start State" [(ngModel)]="model.startState">
            </mat-form-field>
        </div>

        <mat-divider class="mb-2 mt-2"></mat-divider>

    </div>

    <div class="editor-panels">
        <!-- <mat-accordion class="align-start"> -->

            <solacetk-attributes-panel panelName="State Variables Collection" panelType="expansionpanel"
                panelColor="mediumvioletred" [(model)]="model.varData"></solacetk-attributes-panel>

            <div class="no-flex gap-1"></div>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">schema</mat-icon>
                        Behavior Works
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <div cdkDropList (cdkDropListDropped)="dropBranches($event)">

                        <mat-card cdkDrag [cdkDragData]="branch" class="auto-flex mb-2"
                            *ngFor="let branch of model.branches" style="background-color: coral;">

                            <mat-card-title-group class="disp-flex">
                                <mat-card-title class="auto-flex">{{branch.name}}</mat-card-title>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let cond of branch.conditions" class="font-small"
                                        style="background-color: darkslategrey;">
                                        {{cond.key}} {{operators[cond.operator ?? 0]}} {{cond.data}}
                                    </mat-chip>
                                </mat-chip-list>
                                <h4 class="no-flex mr-2">{{model.branches.indexOf(branch)}}</h4>
                            </mat-card-title-group>

                            <mat-card-content class="disp-flex">
                                <div *ngFor="let state of branch.states">
                                    <div class="no-flex width-33 min-width-4">
                                        <!-- <mat-chip-list class="mb-2">
                                            <mat-chip *ngFor="let cond of state.conditions" class="font-small"
                                                style="background-color: darkslategrey;">
                                                {{cond.key}} {{operators[cond.operator ?? 0]}} {{cond.data}}
                                            </mat-chip>
                                        </mat-chip-list> -->
                                        <solacetk-animation-editor [panelName]="state?.name ?? 'Anim Data'"
                                            [(model)]="state.animation.actFrameData" [showDataPanel]="false"
                                            [showFrames]="false" bgColor="darkcyan"></solacetk-animation-editor>
                                        <!-- <mat-card-subtitle>{{state.name}}</mat-card-subtitle> -->
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let data of state.actData" class="font-small"
                                                style="background-color: mediumvioletred;">
                                                {{data.key}} {{operators[data.operator ?? 0]}} {{data.data}}
                                            </mat-chip>
                                            <mat-chip *ngFor="let data of state.startData" class="font-small"
                                                style="background-color: mediumvioletred;">
                                                {{data.key}} {{operators[data.operator ?? 0]}} {{data.data}}
                                            </mat-chip>
                                            <mat-chip *ngFor="let data of state.endData" class="font-small"
                                                style="background-color: mediumvioletred;">
                                                {{data.key}} {{operators[data.operator ?? 0]}} {{data.data}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="no-flex gap-1"></div>
                                </div>
                            </mat-card-content>


                            <mat-card-actions>

                            </mat-card-actions>
                        </mat-card>

                    </div>

                </ng-template>


                <mat-action-row>
                    <button mat-button color="primary" (click)="openBranchesSheet()">Add</button>
                </mat-action-row>

            </mat-expansion-panel>

            <div class="no-flex gap-1"></div>

            <solacetk-event-panel class="mb-2" [(model)]="model.events"></solacetk-event-panel>

        <!-- </mat-accordion> -->

    </div>
</solacetk-model-list>