<solacetk-panel panelName="Rule Editor" class="full-width auto-flex" fontSize="small" panelColor="#c04848">

    <div class="panel-content">

        <div class="disp-flex full-width">
            <div class="gap-1 auto-flex"></div>

            <!-- <div class="auto-flex"> -->
                <!-- Tile Rule Grid: -->
                <!-- (click)="rule.checkType = (rule.checkType + 1) % 6" -->
                <div *ngIf="model.rules" class="map-panel relative-container no-flex align-center" style="background-color: rgb(24 23 36);"
                    [style.width]="(ruleEditorTileSize * ruleEditorScale) * ruleEditorWidth + 'px'"
                    [style.height]="(ruleEditorTileSize * ruleEditorScale) * ruleEditorHeight + 'px'">
                    <div class="relative-input" [style.left]="midWidth * (ruleEditorTileSize * ruleEditorScale) + 'px'"
                        [style.top]="midHeight * (ruleEditorTileSize * ruleEditorScale) + 'px'"
                        [style.transform]="'scale(' + ruleEditorScale + ')'">
                        <div matRipple class="gridCell background-grid" *ngFor="let rule of model.rules"
                            [style.backgroundColor]="rule.checkType == 4 ? rule.colorKey : ''"
                            [class.gridSelected]="rule == selectedRule"
                            [style.left]="(rule.vx) * ruleEditorTileSize + 'px'"
                            [style.top]="(rule.vy) * ruleEditorTileSize + 'px'"
                            (click)="selectedRule = rule; rule.checkType = selectedMode;"
                            [matTooltip]="'Rule at [' + rule.vx + ',' + rule.vy + ']'">
                            <mat-icon class="font-small" *ngIf="(rule.vx == 0 && rule.vy == 0)"
                                [style.background-color]="model.colorKey">adjust</mat-icon>
                            <mat-icon class="font-small" style="opacity: 0.25;"
                                *ngIf="rule.checkType == 0">block</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 1">do_not_disturb_on</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 2">help</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 3"
                                [style.background-color]="model.colorKey">adjust</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 4">cancel</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 5">input</mat-icon>
                            <mat-icon class="font-small" *ngIf="rule.checkType == 6"
                                [style.background-color]="rule.colorKey">invert_colors</mat-icon>
                        </div>
                    </div>
                </div>

            <!-- </div> -->

            <div class="gap-1 auto-flex"></div>

        </div>

    </div>

    <div class="panel-actions disp-flex auto-flex">

        <div class="gap-1 auto-flex"></div>


        <mat-button-toggle-group class="align-center full-height" [(value)]="selectedMode"
            (change)="ModeChange($event)">
            <mat-button-toggle [value]="0" style="background-color: #ff80489e;" matTooltip="Disabled | N/A"
                aria-label="Disabled | N/A">
                <mat-icon>block</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="1" style="background-color: #49316a9e;" matTooltip="Empty" aria-label="Empty">
                <mat-icon>do_not_disturb_on</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="2" style="background-color: #ff10609e;" matTooltip="Any or Null"
                aria-label="Any or Null">
                <mat-icon>help</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="6"
                [style.background-color]="selectedRule.colorKey != '' ? selectedRule.colorKey : '#3036409e'"
                matTooltip="Tile Color Key" aria-label="By Color Key"
                (click)="selectedRule.checkType = 6; groupColorKey.click();">
                <mat-icon>invert_colors</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="3" [style.background-color]="model.colorKey != '' ? model.colorKey : '#3036409e'"
                matTooltip="This" aria-label="This">
                <mat-icon>adjust</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="4" style="background-color: #ff1f1f9e;" matTooltip="Not This or Null"
                aria-label="Not This or Null">
                <mat-icon>cancel</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="5" style="background-color: #3155af9e;" matTooltip="Named Tile"
                aria-label="Named Tile">
                <mat-icon>input</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="no-flex font-small align-center" style="opacity: 0; width: 0; height: 0;">
            <mat-icon matPrefix class="align-center" [style.color]="selectedRule.colorKey">
                radar
            </mat-icon>
            <mat-label class="font-small">Color Key</mat-label>
            <input matInput #groupColorKey placeholder="Color Key" type="color" [(ngModel)]="selectedRule.colorKey"
                [value]="selectedRule.colorKey">
        </mat-form-field>

        <div class="gap-1 auto-flex"></div>

        <!-- Other Rule Actions: -->

    </div>

</solacetk-panel>