<solacetk-model-list [(model)]="model" moduleName="Behavior Branches" modelUri="Behaviors/states" queryParameters="?noop=true" (modelClosed)="CloseModel()" (modelLoaded)="LoadModel()" (modelCreate)="CreateModel()" moduleColor="#545c80">
    <div class="editor">
    </div>

    <div class="editor-panels">

            <solacetk-attributes-panel panelIcon="gavel" panelName="Conditions" panelColor="#006064"
                panelType="expansionpanel" [(model)]="model.conditions">
                <div class="action-row">
                    <button mat-button color="primary" (click)="openConditionsSheet()">Include</button>
                </div>
            </solacetk-attributes-panel>

        <div class="gap-1 auto-flex"></div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="mr-2">schema</mat-icon>
                    Dataworks
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>

                <div class="disp-flex full-width full-height">

                    <div class="auto-flex grid-3">
                        <solacetk-attributes-panel [panelMode]="1" panelName="Start Data" panelType="expansionpanel"
                            class="auto-flex" [(model)]="model.startData"></solacetk-attributes-panel>
                    </div>

                    <div class="gap-1 no-flex"></div>

                    <div class="auto-flex grid-3">
                        <solacetk-attributes-panel [panelMode]="1" panelName="Act Data" panelType="expansionpanel"
                            class="auto-flex" [(model)]="model.actData"></solacetk-attributes-panel>
                    </div>

                    <div class="gap-1 no-flex"></div>

                    <div class="auto-flex grid-3">
                        <solacetk-attributes-panel [panelMode]="1" panelName="End Data" panelType="expansionpanel"
                            class="auto-flex" [(model)]="model.endData"></solacetk-attributes-panel>
                    </div>

                </div>


                <!-- Divider: -->
                <div class="disp-flex auto-flex">
                    <div class="gap-1 auto-flex full-width"></div>
                    <mat-divider class="auto-flex full-width"></mat-divider>
                    <div class="gap-1 auto-flex full-width"></div>
                </div>
                

                <!-- Next States View: -->
                <div class="disp-flex auto-flex" *ngIf="model.nextStates && showNextStates">
                    <div class="disp-flex auto-flex" *ngFor="let behavior of model.nextStates">

                        <solacetk-animation-editor class="auto-flex" style="padding: 4px;" [panelName]="behavior?.name ?? 'Anim Data'" [modelName]="behavior.animation.name"
                            [(model)]="behavior.animation.actFrameData" [showDataPanel]="false" [showFrames]="false" [unloadChange]="unloadModules"
                            bgColor="#009688"></solacetk-animation-editor>

                        <div class="no-flex gap-1"></div>
                    </div>
                </div>

            </ng-template>

            <mat-action-row>
                <button mat-button color="primary" (click)="openAnimationsSheet()">Import</button>
            </mat-action-row>

        </mat-expansion-panel>

        <div class="gap-1 auto-flex"></div>

        <solacetk-event-panel [(model)]="model.events">
            <div class="action-row">
                <button mat-button color="primary" (click)="openEventsSheet()">Import</button>
            </div>
        </solacetk-event-panel>
    </div>

</solacetk-model-list>