<solacetk-model-list [(model)]="model" moduleName="Behavior States" modelUri="Behaviors/states">
    <div class="editor">

        <div class="disp-flex">
            <mat-form-field class="auto-flex model-formfield">
                <input matInput placeholder="Run Count" [(ngModel)]="model.runCount">
            </mat-form-field>
            <mat-form-field class="auto-flex model-formfield">
                <input matInput placeholder="Start Delay" [(ngModel)]="model.startDelay">
            </mat-form-field>
            <mat-form-field class="auto-flex model-formfield">
                <input matInput placeholder="End Delay" [(ngModel)]="model.endDelay">
            </mat-form-field>

            <mat-checkbox class="auto-flex align-center" name="interruptable" [(ngModel)]="model.interruptable">
                Interruptable
            </mat-checkbox>
        </div>

        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">
        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel [style.background-color]="conditionsColor">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Conditions
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div *ngIf="model.conditions">
                        <mat-card *ngFor="let cond of model.conditions" class="mb-2">
                            <mat-card-title>{{cond.name}}</mat-card-title>
                            <mat-card-subtitle>Description: {{cond.description}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </ng-template>

                <mat-action-row>
                    <button mat-button color="primary" (click)="openConditionsSheet()">Add</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dataworks
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <div *ngIf="model.animations.length > 0">

                        <!-- <div *ngIf="model.animations[0].startFrameData.enabled" class="no-flex mr-2"> -->
                        <h4>Start</h4>
                        <div class="disp-flex mb-2">

                            <solacetk-animation-editor class="no-flex mr-2" [(model)]="model.animations[0].startFrameData"
                                [showDataPanel]="false" [showFrames]="false"></solacetk-animation-editor>

                            <solacetk-attributes-panel panelName="Stage Data" panelType="expansionpanel"
                                class="auto-flex" [(model)]="model.startData"></solacetk-attributes-panel>
                        </div>

                        <mat-divider class="mb-2"></mat-divider>

                        <h4>Act</h4>
                        <div class="disp-flex mb-2">

                            <solacetk-animation-editor class="no-flex mr-2" [(model)]="model.animations[0].actFrameData"
                                [showDataPanel]="false" [showFrames]="false"></solacetk-animation-editor>

                            <solacetk-attributes-panel panelName="Stage Data" panelType="expansionpanel"
                                class="auto-flex" [(model)]="model.actData"></solacetk-attributes-panel>
                        </div>

                        <mat-divider class="mb-2"></mat-divider>

                        <h4>End</h4>
                        <div class="disp-flex">

                            <solacetk-animation-editor class="no-flex mr-2" [(model)]="model.animations[0].endFrameData"
                                [showDataPanel]="false" [showFrames]="false"></solacetk-animation-editor>

                            <solacetk-attributes-panel panelName="Stage Data" panelType="expansionpanel"
                                class="auto-flex" [(model)]="model.endData"></solacetk-attributes-panel>
                        </div>

                    </div>

                </ng-template>

                <mat-action-row>
                    <button mat-button color="primary" (click)="openAnimationsSheet()">Add</button>
                </mat-action-row>

            </mat-expansion-panel>

            <solacetk-event-panel class="auto-flex" [(model)]="model.events"></solacetk-event-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Linked State
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="auto-flex align-start" *ngIf="model.next">
                        <mat-card>
                            <mat-card-title>{{model.next.name}}</mat-card-title>
                            <mat-card-subtitle>Description: {{model.next.description}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </ng-template>
                <mat-action-row>
                    <button mat-button color="primary" (click)="openNextStateSheet()">Add</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
    </div>

</solacetk-model-list>