<solacetk-model-list [(model)]="model" (modelCreate)="Create()" moduleName="Entities" modelUri="Entities" [indev]="true"
    modulePlateType="Co" (modelLoaded)="Load()" (modelClosed)="Closed()">

    <!-- <character-controller [(model)]="model" editor-content></character-controller> -->
    <div class="editor">
        <div class="disp-flex auto-flex">
            <div class="auto-flex full-width align-center" style="text-align: justify;">
                <img class="sprite-thumb-2col sprite no-flex" [src]="profileUrl" alt="sprite">
            </div>

            <div class="disp-flex auto-flex">

                <mat-form-field class="no-flex font-small">
                    <mat-icon matPrefix class="font-medium align-start" [style.color]="model.pixelKeyColor">
                        pin_drop
                    </mat-icon>
                    <input matInput #pixelKeyColor placeholder="Pixel Color Key" type="color"
                        [(ngModel)]="model.pixelKeyColor">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Mass</mat-label>
                    <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Speed</mat-label>
                    <input matInput #speed placeholder="Speed" [(ngModel)]="model.speed">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position X</mat-label>
                    <input matInput #worldPositionX placeholder="Position X" [(ngModel)]="model.worldPositionX">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Y</mat-label>
                    <input matInput #worldPositionY placeholder="Position Y" [(ngModel)]="model.worldPositionY">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Z</mat-label>
                    <input matInput #worldPositionZ placeholder="Position Z" [(ngModel)]="model.worldPositionZ">
                </mat-form-field>

            </div>
        </div>

        <div class="disp-flex auto-flex">

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Movement Type" [(ngModel)]="model.type">
                    <mat-option *ngFor="let item of movableTypes" [value]="movableTypes.indexOf(item)">
                        {{GetMoveType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Collision Type" [(ngModel)]="model.collisionType">
                    <mat-option *ngFor="let item of collidableTypes" [value]="collidableTypes.indexOf(item)">
                        {{GetCollisionType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-checkbox name="affectedByGravity" class="no-flex align-center" [(ngModel)]="model.affectedByGravity">
                Affected By
                Gravity</mat-checkbox>

            <mat-checkbox name="useFriction" class="no-flex align-center" [(ngModel)]="model.useFriction">Use
                Friction
            </mat-checkbox>

            <mat-checkbox name="canMove" class="no-flex align-center" [(ngModel)]="model.canMove">Can Move
            </mat-checkbox>

        </div>

    </div>

    <div class="editor-panels">

        <div class="disp-flex flex-gap-050 full-height" style="overflow-x: hidden;">

            <!-- <div class="auto-flex width-33 min-width-6"> -->
            <solacetk-controller-component style="flex: 0 1 32em;" [(model)]="model.components"
                panelColor="darkslategrey">
            </solacetk-controller-component>
            <!-- </div> -->
            <!-- <div class="gap-1 no-flex"></div> -->

            <solacetk-panel panelName="Entity" panelColor="" class="full-height auto-flex" style="display: contents;">

                <div class="panel-content full-width full-height component-panel" >
                    <div class="relative-container components-center full-width full-height">
                        <div class="component-item" *ngIf="behaviorLoaded && behavior != null" cdkDrag style="transform:scale(8);">
                            <img class="sprite no-flex" style="height: 48px; image-rendering: pixelated; image-rendering: crisp-edges;"
                            [src]="GetPreviewUrl(behavior.behaviors[0].animation)" alt="sprite">
                        </div>
                        <div class="component-visual" *ngFor="let component of model.components" cdkDrag
                            [matTooltip]="component.name" [style.backgroundColor]="component.colorKey"
                            [hidden]="!component.enabled"
                            [style.width]="(component.scaleX * 32) + 'px'"
                            [style.height]="(component.scaleY * 32) + 'px'"
                            [style.transform]="'translate3d(' + (component.positionX * 32 * 8) + 'px,' + (component.positionY * 32 * 8) + 'px, 0px) scale(8)'"
                            [style.borderRadius]="component.componentType == 7 ? '32px' : '0px'">
                        </div>
                    </div>
                </div>

            </solacetk-panel>

            <!-- <div class="no-flex width-2 min-width-6"> -->
            <!-- <solacetk-attributes-panel class="auto-flex width-33" [panelMode]="1" panelName="Test Data" panelType="expansionpanel"
                    [(model)]="model.Data">
                </solacetk-attributes-panel> -->
            <!-- </div> -->

        </div>

        <mat-expansion-panel class="auto-flex align-start full-width" style="margin-top: 4px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Behavior
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <!-- Load Behavior System from FK here: -->
                <div class="disp-flex flex-gap-050" *ngIf="behaviorLoaded">
                    <div class="auto-flex" style="flex: 1 1 18em; width: 18em;"
                        *ngFor="let behavior of behavior?.behaviors">

                        <solacetk-model-card class="auto-flex align-center" style="width: inherit;"
                            *ngIf="!behavior.noOp" [(model)]="behavior.animation">
                        </solacetk-model-card>

                        <solacetk-panel *ngIf="behavior.noOp" class="auto-flex" panelColor="#803040"
                            [panelName]="behavior?.name ?? ''" fontSize="medium">

                            <div class="panel-content auto-flex">

                                <mat-chip-listbox class="auto-flex" aria-label="Branch States" multiple="false"
                                    selectable="false">
                                    <mat-chip-option class="font-small auto-flex width-33"
                                        *ngFor="let nState of behavior.nextStates" [style.background-color]="'#545c80'"
                                        style="overflow: hidden;">
                                        {{nState.name}}
                                    </mat-chip-option>
                                </mat-chip-listbox>

                            </div>

                        </solacetk-panel>
                    </div>
                </div>
            </ng-template>


            <mat-action-row>
                <button mat-button color="primary" (click)="openBehaviorsSheet()">Add</button>
            </mat-action-row>

        </mat-expansion-panel>


        <div class="gap-2 no-flex"></div>

        <!-- <solacetk-webgl-harness [class.harness-disabled]="!harnessEnabled" [class.harness-enabled]="harnessEnabled" *ngIf="harnessVisible" [harnessEnabled]="true"
            style="position: fixed; bottom: 0; left: 0; z-index: 2;" (click)="harnessEnabled = !harnessEnabled"></solacetk-webgl-harness> -->

    </div>



</solacetk-model-list>