<solacetk-model-list [(model)]="model" (modelCreate)="Create()" moduleName="Character Controllers"
    modelUri="Controllers" [indev]="true">

    <!-- <character-controller [(model)]="model" editor-content></character-controller> -->
    <div class="editor">
        <div class="disp-flex auto-flex">
            <div class="auto-flex full-width align-center" style="text-align: justify;">
                <img class="sprite-thumb-2col sprite no-flex" [src]="profileUrl" alt="sprite">
            </div>

            <div class="disp-flex auto-flex">

                <mat-form-field class="no-flex font-small">
                    <mat-icon matPrefix class="font-medium align-start" [style.color]="model.pixelKeyColor">
                        pin_drop
                    </mat-icon>
                    <input matInput #pixelKeyColor placeholder="Pixel Color Key" type="color"
                        [(ngModel)]="model.pixelKeyColor">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Mass</mat-label>
                    <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Speed</mat-label>
                    <input matInput #speed placeholder="Speed" [(ngModel)]="model.speed">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position X</mat-label>
                    <input matInput #worldPositionX placeholder="Position X" [(ngModel)]="model.worldPositionX">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>
                
                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Y</mat-label>
                    <input matInput #worldPositionY placeholder="Position Y" [(ngModel)]="model.worldPositionY">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Z</mat-label>
                    <input matInput #worldPositionZ placeholder="Position Z" [(ngModel)]="model.worldPositionZ">
                </mat-form-field>

            </div>
        </div>

        <div class="disp-flex auto-flex">

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Movement Type" [(ngModel)]="model.type">
                    <mat-option *ngFor="let item of movableTypes" [value]="movableTypes.indexOf(item)">
                        {{GetMoveType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Collision Type" [(ngModel)]="model.collisionType">
                    <mat-option *ngFor="let item of collidableTypes" [value]="collidableTypes.indexOf(item)">
                        {{GetCollisionType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-checkbox name="affectedByGravity" class="no-flex align-center"
                [(ngModel)]="model.affectedByGravity">
                Affected By
                Gravity</mat-checkbox>

            <mat-checkbox name="useFriction" class="no-flex align-center"
                [(ngModel)]="model.useFriction">Use
                Friction
            </mat-checkbox>

            <mat-checkbox name="canMove" class="no-flex align-center" [(ngModel)]="model.canMove">Can Move
            </mat-checkbox>

        </div>

    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Behavior
                    </mat-panel-title>
                </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>

                    </ng-template>


                <mat-action-row>
                    <button mat-button color="primary" (click)="openBehaviorsSheet()">Add</button>
                </mat-action-row>

            </mat-expansion-panel>

            <div class="gap-1 auto-flex"></div>

        </mat-accordion>

        <div class="disp-flex">

            <!-- <div class="auto-flex width-33 min-width-6"> -->
                <solacetk-controller-component class="auto-flex width-33" [(model)]="model.components" panelColor="darkslategrey">
                </solacetk-controller-component>
            <!-- </div> -->
            <div class="gap-1 no-flex"></div>
    
            <!-- <div class="no-flex width-2 min-width-6"> -->
                <!-- <solacetk-attributes-panel class="auto-flex width-33" [panelMode]="1" panelName="Test Data" panelType="expansionpanel"
                    [(model)]="model.Data">
                </solacetk-attributes-panel> -->
            <!-- </div> -->
        </div>

    </div>

</solacetk-model-list>