<solacetk-model-list [(model)]="model" moduleName="Behavior Conditions" modelUri="Behaviors/conditions">
    <div class="editor">
        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>


    <div class="editor-panels">
        <mat-accordion>

            <solacetk-attributes-panel class="auto-flex mb-2 full-width" panelName="Conditions"
                panelColor="darkslategrey" panelIcon="gavel" panelType="expansionpanel" [(model)]="model.keys"
                [operatorsEnabled]="true">
            </solacetk-attributes-panel>

        </mat-accordion>

    </div>
</solacetk-model-list>