<div class="disp-flex hide-overflow preserve3d full-height full-width"
    style="perspective: 128px; position: relative; left: 0; right: 0; z-index: 3; overflow-y: auto; transform: translateZ(-128px) scale(1);">

    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" bgSize="cover"
        speed="30s" bgUrl="http://localhost:5010/Artifacts/solace-site-ph0.png" style="z-index: 3;"
        envLighting="linear-gradient(black, rgb(28, 26, 34) 20%, #cba3ff 50%, rgb(36, 27, 58), black) top center"
        envBackground="#ffcbf2">
        <div class="scene-items">
            <img class="ship-item" style="top: 20em; right: 42em; transform: scale(1);"
                src="http://localhost:5010/Artifacts/solace-site-transport-0.png">
            <div class="scene-text">
                Solace
            </div>
        </div>
    </solacetk-parallax-panel>
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" bgSize="auto 100%"
        speed="90s" bgUrl="http://localhost:5010/Artifacts/solace-site-ph0.png"
        style="transform: scale(1.5) translateZ(-64px); z-index: 0;"
        envLighting="linear-gradient(black, rgb(28, 26, 34) 20%, rgb(36, 27, 58), black)" envBackground="#ffcbf2">
    </solacetk-parallax-panel>
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" bgSize="auto 100%"
        speed="180s" bgUrl="http://localhost:5010/Artifacts/solace-site-ph0.png" style="z-index: 1;"
        envLighting="linear-gradient(black, rgb(28, 26, 34) 20%, rgb(36, 27, 58), black)" envBackground="#ffcbf2">
    </solacetk-parallax-panel>

    <!-- Ominious Station -->
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" bgSize="auto 100%"
        speed="360s" style="transform: scale(-2) translateZ(-128px); z-index: 0;"
        bgUrl="http://localhost:5010/Artifacts/solace-site-ph0.png"
        envLighting="linear-gradient(black, rgb(28, 26, 34) 20%, #cba3ff 50%, rgb(36, 27, 58), black) top center"
        envBackground="#ffcbf2">
    </solacetk-parallax-panel>

    <!-- Alpha Evaluation: -->
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" speed="16s"
        style="transform: scaleX(-1);"
        envLighting="linear-gradient(black, #1c1a22 8%, #ffd2a3 30%, #72502c, black) center top">
        <div class="scene-items">
            <img class="scene-item" style="top: 28.5em; right: 42em;"
                src="http://localhost:5010/Artifacts/alpha1-walk.gif">
            <img class="scene-item" style="top: 28.5em; left: 54em;"
                src="http://localhost:5010/Artifacts/alpha4-walk.gif">
            <img class="scene-item" style="top: 28.5em; left: 32em;"
                src="http://localhost:5010/Artifacts/alpha2-walk.gif">

            <img class="scene-item" style="top: 28.5em; right: 32em;"
                src="http://localhost:5010/Artifacts/jarod-walk-rifle-0.gif">
        </div>
    </solacetk-parallax-panel>
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" speed="24s"
        style="transform: scaleX(-1);" envLighting="linear-gradient(#1c1a22 50%, black) center top">
    </solacetk-parallax-panel>
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" speed="32s"
        style="transform: scaleX(-1);" envLighting="linear-gradient(#1c1a22 50%, black) center top">
    </solacetk-parallax-panel>

    <!-- Tram Deck: -->
    <!-- Sector 1: -->
    <solacetk-parallax-panel class="disp-flex preserve3d hide-overflow full-width full-height" speed="0s"
        style="transform: scaleX(-1);" bgUrl="http://localhost:5010/Artifacts/solace-site-emp-0a.png"
        bgPosition="0% -14%" envLighting="linear-gradient(black 8%, #971f1f 60%, black 100%)">
        <div class="scene-items"></div>
    </solacetk-parallax-panel>

    <!-- Signs of Trouble -->
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="0s"
        style="transform: scaleX(-1);" bgUrl="http://localhost:5010/Artifacts/solace-site-emp-0a.png"
        bgPosition="0% 174%" envLighting="linear-gradient(black, #1c1a22 8%, #c2563d 30%, #c23d5a , black) center top">
        <div class="scene-items">
            <img class="scene-item" style="bottom: 488px; left: 32em;"
                src="http://localhost:5010/Artifacts/alpha2-idle-c.gif">

            <img class="scene-item" style="bottom: 488px; left: 38em;"
                src="http://localhost:5010/Artifacts/james-crouch-idle-rifle-f.gif">

            <img class="scene-item" style="bottom: 488px; right: 27em;"
                src="http://localhost:5010/Artifacts/bodies-debris-0f.png">

            <img class="scene-item" style="bottom: 488px; left: 26em;"
                src="http://localhost:5010/Artifacts/bodies-debris-0a.png">

            <img class="scene-item" style="bottom: 372px; right: 56em;"
                src="http://localhost:5010/Artifacts/bodies-debris-0d.png">

            <img class="scene-item" style="bottom: 372px; right: 57em;"
                src="http://localhost:5010/Artifacts/p0-feed.gif">

            <img class="scene-item" style="bottom: 372px; left: 68em;"
                src="http://localhost:5010/Artifacts/p1-dead.gif">

            <img class="scene-item" style="bottom: 488px; right: 36em; transform: scaleX(-3) scaleY(3);"
                src="http://localhost:5010/Artifacts/p1-hit-1.gif">

            <img class="scene-item" style="bottom: 412px; left: 55em;"
                src="http://localhost:5010/Artifacts/p4-horror.gif">
        </div>
    </solacetk-parallax-panel>

    <!-- Filler: -->
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="0s"
        style="transform: scaleX(-1);" bgUrl="http://localhost:5010/Artifacts/solace-site-emp-0a.png"
        bgPosition="0% -16%" envLighting="linear-gradient(black 8%, #971f1f 60%, black 100%)">
    </solacetk-parallax-panel>
    <!-- Filler: -->
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="0s"
        style="transform: scaleX(-1);" bgUrl="http://localhost:5010/Artifacts/solace-site-emp-0a.png"
        bgPosition="0% 152%" envLighting="linear-gradient(black 8%, #971f1f 60%, black 100%)">
    </solacetk-parallax-panel>
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="15s"
        envLighting="linear-gradient(#1c1a22 50%, black) center top">
    </solacetk-parallax-panel>


    <!-- Evading Death: -->
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="2s">
        <div class="scene-items">
            <img class="scene-item" style="top: 28.5em; right: 42em;"
                src="http://localhost:5010/Artifacts/alpha2-sprint.gif">
            <img class="scene-item" style="top: 28.5em; right: 54em;"
                src="http://localhost:5010/Artifacts/jarod-run-1.gif">
            <img class="scene-item" style="top: 27.5em; left: 42em;"
                src="http://localhost:5010/Artifacts/specG-sprint.gif">
        </div>
    </solacetk-parallax-panel>

    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="2s"
        envLighting="linear-gradient(#1c1a22 50%, black) center top">
    </solacetk-parallax-panel>

    <!-- Planning: -->
    <solacetk-parallax-panel class="disp-flex hide-overflow full-width full-height" speed="2s">
        <div class="scene-items">
            <img class="scene-item" style="top: 28.5em; right: 42em;"
                src="http://localhost:5010/Artifacts/alpha2-sprint.gif">
            <img class="scene-item" style="top: 27.5em; left: 42em;"
                src="http://localhost:5010/Artifacts/specG-sprint.gif">
        </div>
    </solacetk-parallax-panel>



</div>