<solacetk-model-list [(model)]="model" moduleName="Environment Maps" modelUri="Environments/Maps"
    (modelLoaded)="loadEditor()">

    <div class="editor">
        <img cdkDrag class="sprite-thumb-2col sprite auto-flex" [src]="profileUrl + '.png'" alt="map layer">
    </div>

    <div class="editor-panels">
        <div class="disp-flex">
            <solacetk-panel [unitHeight]="9" class="auto-flex" panelColor="#222034" panelName="Map Viewer"
                panelIcon="branding_watermark">

                <div class="panel-content">
                    <div class="disp-flex" [style.transform]="scaleXY">
                        <div cdkDrag class="auto-flex align-center map-container full-height">
                            <div *ngFor="let layer of model.layers">
                            <img class="sprite-thumb-2col sprite map-layer auto-flex" *ngIf="layer.enabled" 
                            [src]="profileUrl + '-' + layer.name + '.png'" alt="map layer">
                            </div>
                            <div class="background-grid sprite auto-flex full-height full-width" [style.background]="'url(' + gridUrl + ')'">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-actions">
                    <div class="disp-flex">
                        <button mat-icon-button matTooltip="Import Aseprite File">
                            <mat-icon>upload</mat-icon>
                        </button>

                        <mat-slider class="no-flex" max="5" min="0.1" step="0.1" showTickMarks="true"
                            (valueChange)="changeScale($event)">
                            <input matSliderThumb [(ngModel)]="mapscale">
                        </mat-slider>
                        
                        <div class="auto-flex align-end">
                            <h4><small>Scale:</small> {{mapscale}}</h4>
                        </div>

                        <div class="gap-1 auto-flex"></div>

                        <button mat-button matTooltip="Log Model to Console" (click)="logModel()">
                            Log
                        </button>
                    </div>
                </div>

            </solacetk-panel>

            <div class="gap-1 no-flex"></div>

            <div class="no-flex width-33">
                <map-layers-panel fontSize="medium" panelName="Map Layers" panelIcon="layers"
                    panelColor="mediumseagreen" overflowMethod="inherit" [(model)]="model.layers"
                    [(selectedInstance)]="selectedLayer">
                </map-layers-panel>
            </div>

            <!-- <solacetk-panel panelColor="mediumseagreen" panelName="Map Layers" panelIcon="layers">

                <div class="panel-content">

                </div>

                <div class="panel-actions">
                    <button mat-icon-button matTooltip="Add Layer to Map" color="primary" (click)="addLayer()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </solacetk-panel> -->

        </div>
    </div>

</solacetk-model-list>