.map-container {
    position: relative;
}

.map-layer {
    width: auto !important;
    height: 576px !important;
    position: absolute;
}

.background-grid {
    height: 576px;
    position: absolute;
    background-repeat: repeat;
    image-rendering: pixelated;
}