<solacetk-model-list [(model)]="model" moduleName="Tile Sets" modelUri="Environments/TileSets"
    (modelLoaded)="loadEditor()">
    <div class="editor">
        <img cdkDrag class="sprite-thumb-2col sprite auto-flex" [src]="profileUrl + '.png'" alt="map layer">
    </div>

    <div class="editor-actions">
        <div class="disp-flex auto-flex">
            <button mat-icon-button matTooltip="Import Aseprite File" (click)="textureUpload.click()">
                <mat-icon>upload</mat-icon>
            </button>
            <input type="file" class="file-input" (change)="onAseSelected($event)" accept=".ase,.aseprite"
                #textureUpload>
        </div>
    </div>

    <div class="editor-panels">

        <!-- Tileset Editor: -->
        <solacetk-panel class="auto-flex full-height" unitHeight="8" panelColor="#c08060" panelName="Tile Set"
            panelIcon="grid_view">
            <div class="panel-content disp-flex no-flex full-height">

                <mat-chip-listbox class="no-flex full-height width-5" aria-label="Color selection"
                    aria-orientation="vertical" style="overflow-y: auto;" multiple="false" selectable="true">
                    <mat-chip-option class="font-small full-width" *ngFor="let tile of model.tiles"
                        [style.background-color]="tile.colorKey" (selectionChange)="selectTile(tile)">
                        <!-- <mat-icon *ngIf="tile == selectedTile" matChipTrailingIcon>selected</mat-icon> -->
                        {{tile.name}}
                    </mat-chip-option>
                </mat-chip-listbox>

                <div class="gap-1 no-flex"></div>

                <!-- Tile Editor -->
                <solacetk-panel class="auto-flex full-height width-2" panelName="Tile Editor" panelColor="#608080">

                    <!-- Tile Fields: -->
                    <div class="panel-content auto-flex">

                        <div class="disp-flex auto-flex">
                            <div class="auto-flex width-2">
                            <div class="disp-flex auto-flex">
                                <mat-form-field class="no-flex font-small width-5">
                                    <mat-label class="font-small">Location X</mat-label>
                                    <input matInput placeholder="Location X" [(ngModel)]="selectedTile.lx">
                                </mat-form-field>

                                <div class="gap-1 no-flex"></div>

                                <mat-form-field class="no-flex font-small width-5">
                                    <mat-label class="font-small">Location Y</mat-label>
                                    <input matInput placeholder="Location Y" [(ngModel)]="selectedTile.ly">
                                </mat-form-field>

                                <div class="gap-1 no-flex"></div>

                                <mat-form-field class="no-flex font-small width-5">
                                    <mat-label class="font-small">Width</mat-label>
                                    <input matInput placeholder="Width" [(ngModel)]="selectedTile.width">
                                </mat-form-field>

                                <div class="gap-1 no-flex"></div>

                                <mat-form-field class="no-flex font-small width-5">
                                    <mat-label class="font-small">Height</mat-label>
                                    <input matInput placeholder="Height" [(ngModel)]="selectedTile.height">
                                </mat-form-field>

                                <div class="gap-1 no-flex"></div>

                                <mat-form-field class="no-flex font-small align-center"
                                    style="opacity: 0; width: 0; height: 0;">
                                    <mat-icon matPrefix class="align-center" [style.color]="selectedTile.colorKey">
                                        radar
                                    </mat-icon>
                                    <mat-label class="font-small">Color Key</mat-label>
                                    <input matInput #groupColorKey placeholder="Color Key" type="color"
                                        [(ngModel)]="selectedTile.colorKey" [value]="selectedTile.colorKey">
                                </mat-form-field>

                                <button mat-icon-button matTooltip="Set Color Key" (click)="groupColorKey.click()">
                                    <mat-icon [style.color]="selectedTile.colorKey">
                                        radar
                                    </mat-icon>
                                </button>

                            </div>
                            <div class="disp-flex auto-flex">


                                <!-- <div class="disp-flex"> -->
                                <mat-form-field class="auto-flex font-small">
                                    <mat-label class="font-small">Name</mat-label>
                                    <input matInput placeholder="Name" [(ngModel)]="selectedTile.name">
                                </mat-form-field>

                                <div class="gap-1 no-flex"></div>
                            </div>
                            </div>


                            <div class="gap-1 no-flex"></div>

                            <!-- Tile Texture Viewer: -->
                            <div class="map-panel relative-container no-flex mat-elevation-z2"
                                style="height: 128px; width: 128px;">
                                <div class="relative-input" style="transform: scale(8);">
                                    <img class="sprite map-layer auto-flex" [src]="profileUrl + '.png'" alt="map layer"
                                        [style.left]="-(selectedTile.lx) + 'px'" [style.top]="-(selectedTile.ly) + 'px'"
                                        [style.height]="textureHeight">
                                </div>

                                <!-- <h4 class="relative-input" style="bottom: 0px; left: 8px;">{{'[' + selectedTile.x +
                                        ',' + selectedTile. + ']'}}</h4> -->

                                <div class="gap-1 no-flex"></div>

                            </div>
                        </div>

                    </div>

                </solacetk-panel>

                <div class="gap-1 no-flex"></div>

                <!-- Tile Rules: -->
                <solacetk-tile-rule-editor class="no-flex full-height width-4" [(model)]="selectedTile.rules"
                    [tile]="selectedTile"></solacetk-tile-rule-editor>

            </div>
            <div class="panel-actions">
            </div>
        </solacetk-panel>

    </div>
</solacetk-model-list>