<solacetk-model-list [(model)]="model" moduleName="Enemy Controllers" modelUri="Controllers/movables"
    tagFilters="#enemies">
    <div class="editor">

        <div class="disp-flex">
            <img class="sprite-thumb model-formfield no-flex" src="../../../assets/soldof/images/settings.PNG"
                alt="sprite">

            <mat-form-field class="auto-flex">
                <mat-icon matPrefix class="font-medium mr-2 align-start" [style.color]="model.pixelKeyColor">pin_drop
                </mat-icon>
                <input matInput #pixelKeyColor placeholder="Pixel Color Key" type="color"
                    [(ngModel)]="model.pixelKeyColor">
            </mat-form-field>
        </div>

        <div class="disp-flex">
            <mat-form-field class="auto-flex model-formfield small-field-two-items">
                <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
            </mat-form-field>
            <mat-form-field class="auto-flex model-formfield small-field-two-items">
                <input matInput #speed placeholder="Speed" [(ngModel)]="model.speed">
            </mat-form-field>
            <mat-form-field class="auto-flex model-formfield small-field-three-items">
                <input matInput #worldPositionX placeholder="Position X" [(ngModel)]="model.worldPositionX">
            </mat-form-field>
            <mat-form-field class="auto-flex model-formfield small-field-three-items">
                <input matInput #worldPositionY placeholder="Position Y" [(ngModel)]="model.worldPositionY">
            </mat-form-field>
            <mat-form-field class="auto-flex small-field-three-items">
                <input matInput #worldPositionZ placeholder="Position Z" [(ngModel)]="model.worldPositionZ">
            </mat-form-field>
        </div>

        <div class="disp-flex">
            <mat-form-field class="model-formfield auto-flex">
                <mat-select placeholder="Movement Type" [(ngModel)]="model.type">
                    <mat-option *ngFor="let item of movableTypes" [value]="movableTypes.indexOf(item)">
                        {{GetMoveType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="model-formfield auto-flex">
                <mat-select placeholder="Collision Type" [(ngModel)]="model.collisionType">
                    <mat-option *ngFor="let item of collidableTypes" [value]="collidableTypes.indexOf(item)">
                        {{GetCollisionType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox name="affectedByGravity" class="auto-flex model-formfield align-center"
                [(ngModel)]="model.affectedByGravity">
                Affected By
                Gravity</mat-checkbox>
            <mat-checkbox name="useFriction" class="auto-flex model-formfield align-center"
                [(ngModel)]="model.useFriction">Use
                Friction
            </mat-checkbox>
            <mat-checkbox name="canMove" class="auto-flex align-center" [(ngModel)]="model.canMove">Can Move
            </mat-checkbox>
        </div>

        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">
        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Behavior
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div *ngIf="model.behaviorSystem">
                        <mat-card>
                            <mat-card-title>{{model.behaviorSystem.name}}</mat-card-title>
                        </mat-card>
                    </div>
                </ng-template>

                <mat-action-row>
                    <button mat-button color="primary" (click)="importBehaviorSystem()">Select</button>
                </mat-action-row>

            </mat-expansion-panel>

            <solacetk-controller-component [(model)]="model.components" panelColor="darkslategrey"></solacetk-controller-component>


        </mat-accordion>


    </div>
</solacetk-model-list>