<solacetk-model-list [(model)]="model" moduleName="Enemy Controllers" modelUri="Controllers/enemies"
    (modelLoaded)="loadEditor()" [indev]="true">
    <div class="editor">

        <div class="disp-flex auto-flex">
            <div class="auto-flex full-width align-center" style="text-align: justify;">
                <img class="sprite-thumb-2col sprite no-flex" [src]="profileUrl" alt="sprite">
            </div>

            <div class="disp-flex auto-flex">

                <mat-form-field class="no-flex font-small">
                    <mat-icon matPrefix class="font-medium align-start" [style.color]="model.pixelKeyColor">
                        pin_drop
                    </mat-icon>
                    <input matInput #pixelKeyColor placeholder="Pixel Color Key" type="color"
                        [(ngModel)]="model.pixelKeyColor">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Mass</mat-label>
                    <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Speed</mat-label>
                    <input matInput #speed placeholder="Speed" [(ngModel)]="model.speed">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position X</mat-label>
                    <input matInput #worldPositionX placeholder="Position X" [(ngModel)]="model.worldPositionX">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>
                
                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Y</mat-label>
                    <input matInput #worldPositionY placeholder="Position Y" [(ngModel)]="model.worldPositionY">
                </mat-form-field>

                <div class="gap-1 no-flex"></div>

                <mat-form-field class="no-flex font-small">
                    <mat-label class="font-small">Position Z</mat-label>
                    <input matInput #worldPositionZ placeholder="Position Z" [(ngModel)]="model.worldPositionZ">
                </mat-form-field>

            </div>
        </div>

        <div class="disp-flex auto-flex">

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Movement Type" [(ngModel)]="model.type">
                    <mat-option *ngFor="let item of movableTypes" [value]="movableTypes.indexOf(item)">
                        {{GetMoveType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-form-field class="auto-flex font-small">
                <mat-select class="font-small" placeholder="Collision Type" [(ngModel)]="model.collisionType">
                    <mat-option *ngFor="let item of collidableTypes" [value]="collidableTypes.indexOf(item)">
                        {{GetCollisionType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gap-1 no-flex"></div>

            <mat-checkbox name="affectedByGravity" class="no-flex align-center"
                [(ngModel)]="model.affectedByGravity">
                Affected By
                Gravity</mat-checkbox>

            <mat-checkbox name="useFriction" class="no-flex align-center"
                [(ngModel)]="model.useFriction">Use
                Friction
            </mat-checkbox>

            <mat-checkbox name="canMove" class="no-flex align-center" [(ngModel)]="model.canMove">Can Move
            </mat-checkbox>

        </div>

    </div>

    <div class="editor-actions">
        <button mat-button (click)="textureUpload.click()" color="primary">Import profile Sprite</button>
        <input type="file" class="file-input" (change)="onTextureSelected($event)" accept=".png" #textureUpload>
    </div>

    <div class="editor-panels">

        <!-- <mat-accordion class="auto-flex align-start full-width"> -->
        <mat-expansion-panel class="no-flex">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Behavior
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div *ngIf="model.behaviorSystem">
                    <mat-card>
                        <mat-card-title>{{model.behaviorSystem.name}}</mat-card-title>
                        <mat-card-content>
                            <div class="disp-flex">
                                <!-- <div class="no-flex width-33 min-width-5 mt-2 mr-2">
                                    <solacetk-attributes-panel [panelMode]="1" panelName="Test Data"
                                        panelType="expansionpanel" [(model)]="testStateData">
                                    </solacetk-attributes-panel>
                                </div> -->

                                <div class="gap-1 no-flex"></div>

                                <!-- List Branches / States Details: -->
                                <div class="disp-flex">
                                    <!-- <div class="disp-flex auto-flex"
                                        *ngFor="let branch of model.behaviorSystem.branches">
                                        <solacetk-panel [panelName]="branch.name ?? 'unidentified'" fontSize="small"
                                            panelType="panel"
                                            [panelColor]="selectedBranch == branch ? 'lightcoral' : 'coral'">
                                            <div class="panel-content">

                                                <div *ngFor="let state of branch.states">
                                                    <solacetk-panel [unitHeight]="0.5"
                                                        [panelName]="state.name ?? 'unidentified'" fontSize="small"
                                                        panelType="panel"
                                                        [panelColor]="testSelectedState == state ? 'cyan' : 'darkcyan'">

                                                    </solacetk-panel>
                                                    <div class="gap-1 no-flex"></div>
                                                </div>


                                            </div>
                                        </solacetk-panel>
                                        <div class="gap-1 no-flex"></div>
                                    </div> -->
                                </div>

                            </div>
                            <div class="disp-flex">
                                <div *ngIf="testSelectedState" class="auto-flex width-2">
                                    <solacetk-animation-editor
                                        [panelName]="(selectedBranch?.name ?? 'Branch') + ' -> ' + testSelectedState.name"
                                        [(model)]="selectedAnimationData" [showDataPanel]="false" [showFrames]="false">
                                    </solacetk-animation-editor>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>

            <mat-action-row>
                <button mat-button color="primary" (click)="importBehaviorSystem()">Select</button>
                <button mat-icon-button matTooltip="Select State" color="primary" class="no-flex"
                    (click)="selectState()">
                    <mat-icon>sync_alt</mat-icon>
                </button>
            </mat-action-row>

        </mat-expansion-panel>

        <div class="gap-1"></div>

        <div class="disp-flex">

        <div class="auto-flex width-33 min-width-6">
            <solacetk-controller-component [(model)]="model.components" panelColor="darkslategrey" panelType="panel">
            </solacetk-controller-component>
        </div>
        <div class="gap-1 no-flex"></div>

        <div class="no-flex width-2 min-width-6">
            <solacetk-attributes-panel [panelMode]="1" panelName="Test Data" panelType="expansionpanel"
                [(model)]="testStateData">
            </solacetk-attributes-panel>
        </div>
    </div>


        <!-- </mat-accordion> -->


    </div>
</solacetk-model-list>