<solacetk-model-list [(model)]="model" moduleName="Enemy Controllers" modelUri="Controllers/movables" (modelLoaded)="loadEditor()"
    tagFilters="#enemies">
    <div class="editor">

        <div class="disp-flex">
            <img class="sprite-thumb-2col sprite no-flex mr-2" [src]="profileUrl"
                alt="sprite">

                <div class="disp-flex">
                    <mat-form-field class="no-flex width-10 mr-2">
                        <mat-icon matPrefix class="font-medium mr-2 align-start" [style.color]="model.pixelKeyColor">pin_drop
                        </mat-icon>
                        <input matInput #pixelKeyColor placeholder="Pixel Color Key" type="color"
                            [(ngModel)]="model.pixelKeyColor">
                    </mat-form-field>
                    <mat-form-field class="no-flex width-10 mr-2">
                        <input matInput #mass placeholder="Mass" [(ngModel)]="model.mass">
                    </mat-form-field>
                    <mat-form-field class="no-flex width-10 mr-2">
                        <input matInput #speed placeholder="Speed" [(ngModel)]="model.speed">
                    </mat-form-field>
                    <mat-form-field class="no-flex width-10 mr-2">
                        <input matInput #worldPositionX placeholder="Position X" [(ngModel)]="model.worldPositionX">
                    </mat-form-field>
                    <mat-form-field class="no-flex width-10 mr-2">
                        <input matInput #worldPositionY placeholder="Position Y" [(ngModel)]="model.worldPositionY">
                    </mat-form-field>
                    <mat-form-field class="no-flex width-10">
                        <input matInput #worldPositionZ placeholder="Position Z" [(ngModel)]="model.worldPositionZ">
                    </mat-form-field>
                </div>
        </div>

        <div class="disp-flex">
            <mat-form-field class="model-formfield auto-flex">
                <mat-select placeholder="Movement Type" [(ngModel)]="model.type">
                    <mat-option *ngFor="let item of movableTypes" [value]="movableTypes.indexOf(item)">
                        {{GetMoveType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="model-formfield auto-flex">
                <mat-select placeholder="Collision Type" [(ngModel)]="model.collisionType">
                    <mat-option *ngFor="let item of collidableTypes" [value]="collidableTypes.indexOf(item)">
                        {{GetCollisionType(item)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox name="affectedByGravity" class="auto-flex model-formfield align-center"
                [(ngModel)]="model.affectedByGravity">
                Affected By
                Gravity</mat-checkbox>
            <mat-checkbox name="useFriction" class="auto-flex model-formfield align-center"
                [(ngModel)]="model.useFriction">Use
                Friction
            </mat-checkbox>
            <mat-checkbox name="canMove" class="auto-flex align-center" [(ngModel)]="model.canMove">Can Move
            </mat-checkbox>
        </div>

    </div>

    

    <div class="editor-actions">
        <button mat-button (click)="textureUpload.click()" color="primary">Import profile Sprite</button>
        <input type="file" class="file-input" (change)="onTextureSelected($event)" accept=".png" #textureUpload>
    </div>

    <div class="editor-panels">
        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Behavior
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div *ngIf="model.behaviorSystem">
                        <mat-card>
                            <mat-card-title>{{model.behaviorSystem.name}}</mat-card-title>
                            <mat-card-content>
                                <div class="disp-flex">
                                    <div class="no-flex width-33 mt-2 mr-2">
                                        <solacetk-attributes-panel [panelMode]="1" panelName="Test Data"
                                            panelType="expansionpanel" [(model)]="testStateData">
                                        </solacetk-attributes-panel>
                                    </div>

                                    <div class="gap-1"></div>

                                    <div *ngIf="testSelectedState" class="auto-flex width-2">
                                        <h3>{{selectedBranch?.name ?? 'Branch'}} >> {{testSelectedState.name}}</h3>
                                        <solacetk-animation-editor [(model)]="selectedAnimationData"
                                            [showDataPanel]="false" [showFrames]="false"></solacetk-animation-editor>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-template>

                <mat-action-row>
                    <button mat-button color="primary" (click)="importBehaviorSystem()">Select</button>
                    <button mat-icon-button matTooltip="Select State" color="primary" class="no-flex"
                        (click)="selectState()">
                        <mat-icon>sync_alt</mat-icon>
                    </button>
                </mat-action-row>

            </mat-expansion-panel>

            <solacetk-controller-component [(model)]="model.components" panelColor="darkslategrey">
            </solacetk-controller-component>


        </mat-accordion>


    </div>
</solacetk-model-list>