<div>
    <mat-card class="auto-flex">
      <mat-card-content>


    <mat-tab-group>
        <mat-tab class="auto-flex" label="Main">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/readme.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Game Core">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-core.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Controller Actors">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-actors.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Behaviors">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-behaviors.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Actions">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-actions.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Environment">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-environment.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Interfaces">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-interfaces.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Sounds">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-sounds.md'"></markdown>
        </mat-tab>
        <mat-tab class="auto-flex" label="Effects">
            <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/wiki/solacetk-effects.md'"></markdown>
        </mat-tab>
    </mat-tab-group>

    
      </mat-card-content>
      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card>
  </div>