
<div class="disp-flex" style="padding: 8px;">

  <div class="gap-1 auto-flex"></div>

  <mat-card class="auto-flex width-2">
    <mat-card-content>
      <markdown lineNumbers ngPreserveWhitespaces [src]="'assets/soldof/solacetk.md'"></markdown>
    </mat-card-content>

    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/wiki']">Documentation</a>
    </mat-card-actions>

  </mat-card>

  <div class="gap-1 no-flex"></div>

  <mat-card class="auto-flex" style="height: 25%;">
    <mat-card-title-group>
      <mat-card-title>{{msoaUserService.IsAuthenticated ? msoaUserService.testUser.name : "Authentication"}}</mat-card-title>
      <mat-card-subtitle>SolaceTK Identity</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content class="auto-flex">
      <img class="no-flex model-formfield icon-sprite" src="../../../assets/soldof/images/accounts.png" alt="Module Icon">
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="!msoaUserService.IsAuthenticated" class="auto-flex" mat-flat-button color="accent" (click)="msoaUserService.Login()">Login</button>
    </mat-card-actions>
  </mat-card>

  <div class="gap-1 auto-flex"></div>

</div>