.site-nav {
    height: 100%;
}

.nav-time-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nav-connect-icon-up {
    width: 32px;
    height: 32px;
    color: green;
    fill: green;
}

.nav-connect-icon-down {
    width: 32px;
    height: 32px;
    color: red;
    fill: red;
}