.site-nav {
    height: 100%;
}

.nav-time-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.nav-connect-icon-up {
    width: 24px;
    height: 24px;
    color: rgb(96, 192, 64);
    fill: rgb(96, 192, 64);
}

.nav-connect-icon-down {
    width: 24px;
    height: 24px;
    color: rgb(255, 0, 32);
    fill: rgb(255, 0, 32);
}

.flexor {
    display: flex !important;
}

.solacetk-icon {
    background-color: #ffffff00;
    width: 48px;
    height: 48px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    position: absolute;
    border-radius: 12px;
    background-image:url(https://solacetk-core-dev-bowman-dev.apps.bocp.onbowman.com/Ase/soltk-logo/soltk-logo.png);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}

.solacetk-icon:hover {
    background-color: #2d6e661f;
}