<!-- Toolbar -->
<mat-toolbar color="primary" class="top-nav mat-elevation-z4">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="no-flex">onBowman</span>
  <span class="auto-flex"></span>
  <bow-socials facebook="https://www.facebook.com/Live.JBowman" 
    linkedin="https://www.linkedin.com/in/jrbowman13/" 
    soundcloud="https://soundcloud.com/bowman-rh" 
    github="https://github.com/JRBowman">
</bow-socials>

</mat-toolbar>

<mat-drawer-container class="site-nav" autosize>
  <mat-drawer #drawer class="site-nav-bar mat-elevation-z4" opened="true" mode="side">
    <mat-list role="list">
      <mat-list-item><a class="auto-flex" mat-button href="/">Introduction</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a class="auto-flex" mat-button href="/resume">Resume / CV</a></mat-list-item>
      <mat-list-item><a class="auto-flex" mat-button href="/software">Software</a></mat-list-item>
      <mat-list-item><a class="auto-flex" mat-button href="/projects">Projects</a></mat-list-item>
      <mat-list-item><a class="auto-flex" mat-button href="/music">Music</a></mat-list-item>
      <mat-list-item><a class="auto-flex" mat-button href="/videos">Videos</a></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <section class="router-content">
    <router-outlet></router-outlet>
  </section>

  <div style="height: 128px;"></div>

</mat-drawer-container>