<!-- Toolbar -->
<mat-toolbar color="primary" class="top-nav mat-elevation-z6">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="gap-1 no-flex"></span>

  <span class="no-flex mr-2">
    Solace TK
  </span>

  <span class="no-flex"></span>

  <!-- <div *ngIf="msoaUserService.IsAuthenticated" class="auto-flex"> -->
  <div *ngIf="soltkService.screenWidth > 990">
    <solacetk-toolnav-extended [toolbarIntegrated]="true" class="full-width"></solacetk-toolnav-extended>
  </div>
  <!-- </div> -->

  <span *ngIf="!msoaUserService.IsAuthenticated" class="auto-flex"></span>
  <span *ngIf="msoaUserService.IsAuthenticated" class="flexor no-flex align-center mr-2 font-small">
    <a mat-button class="auto-flex font-small" [routerLink]="['identity']">
      <mat-icon class="auto-flex mr-2">account_circle</mat-icon>
      {{userName}}
    </a>
  </span>
  <img src="../assets/soldof/images/time.PNG" class="no-flex nav-time-icon align-center">
  <span class="no-flex align-center mr-2 font-small">{{time}}</span>

  <span *ngIf="servicesConnected" class="nav-connect-icon-up">
    <mat-icon matTooltip="Online and Connected">public</mat-icon>
  </span>
  <span *ngIf="!servicesConnected" class="nav-connect-icon-down">
    <mat-icon matTooltip="Offline">public_off</mat-icon>
  </span>

</mat-toolbar>

<!-- [style.height]="(soltkService.screenHeight - 64) + 'px'"-->
<mat-drawer-container class="site-nav" autosize [style.height]="(soltkService.screenHeight - 64) + 'px'" style="transform-style: preserve-3d;">
  <mat-drawer #drawer class="site-nav-bar mat-elevation-z6" style="transform-style: preserve-3d;" opened="false" mode="side">
    <mat-nav-list>
      <a mat-list-item class="auto-flex" [routerLink]="['/']">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="auto-flex" [routerLink]="['/wiki']">Documentation</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="auto-flex" [routerLink]="['/apiexplorer']">API Explorer</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="auto-flex" [routerLink]="['/artifacts']">Artifacts</a>
      <mat-divider></mat-divider>
      <a mat-list-item class="auto-flex" [routerLink]="['/timelinetp']">Timeline Preview</a>
    </mat-nav-list>

    <div *ngIf="soltkService.screenWidth < 990">
      <solacetk-sidenav-extended class="full-width"></solacetk-sidenav-extended>
    </div>
  </mat-drawer>
  

  <!-- <section class="router-content"> -->
  <section class="full-height" style="transform-style: preserve-3d; overflow-x: hidden;">
    <router-outlet></router-outlet>
  </section>
  
  <!-- <mat-drawer #drawer2 class="site-nav-bar mat-elevation-z6" opened mode="side" position="end">test</mat-drawer> -->
  <!-- <div class="auto-flex gap-1"></div> -->


</mat-drawer-container>
