<div *ngIf="panelType == 'panel'">

    <h3><mat-icon class="mr-2">local_post_office</mat-icon>Messages</h3>

    <div *ngFor="let message of model">
        <mat-card class="auto-flex mb-2" [style.backgroundColor]="messageColor">
            <mat-card-title-group>
                <mat-card-title class="auto-flex">
                    <mat-icon>local_post_office</mat-icon>
                    {{message.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    Message [{{GetKeyIndex(message)}}]
                </mat-card-subtitle>
                <button mat-icon-button class="no-flex" aria-label="Remove Message" (click)="RemoveMessage(message)">
                    <mat-icon>remove</mat-icon>
                </button>
            </mat-card-title-group>
            <mat-card-content>

                <!-- TODO: Add Message Context Data here - include Target Name and Target Selection: -->
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="Name" [(ngModel)]="message.name">
                </mat-form-field>
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="Description" [(ngModel)]="message.description">
                </mat-form-field>
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="Target Name" [(ngModel)]="message.targetName">
                </mat-form-field>
                <mat-form-field class="auto-flex model-formfield">
                    <mat-label>Target Type</mat-label>
                    <mat-select [(ngModel)]="message.targetType">
                        <mat-option [value]="0">Named Target</mat-option>
                        <mat-option [value]="1">Instance Target</mat-option>
                        <mat-option [value]="2">Collision Target</mat-option>
                        <mat-option [value]="3">Focus Target</mat-option>
                        <mat-option [value]="4">Message Queue</mat-option>
                        <mat-option [value]="5">Self</mat-option>
                    </mat-select>
                </mat-form-field>


                <solacetk-attributes-panel [panelMode]="1" panelName="Message Data" [(model)]="message.data" panelType="panel">
                            
                </solacetk-attributes-panel>
            </mat-card-content>
        </mat-card>
    </div>

    <button mat-button (click)="AddMessage()">Add Message</button>

</div>

<div *ngIf="panelType == 'expansionpanel'">
    <mat-expansion-panel [style.backgroundColor]="messageColor">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="mr-2">local_post_office</mat-icon>
                Messages
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div *ngFor="let message of model">
                <mat-card class="auto-flex mb-2 message-card">
                    <mat-card-title-group>
                        <mat-card-title class="auto-flex">
                            <mat-icon>quickreply</mat-icon>
                            {{message.name}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            Message [{{GetKeyIndex(message)}}]
                        </mat-card-subtitle>
                        <button mat-icon-button class="no-flex" aria-label="Remove Message"
                            (click)="RemoveMessage(message)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </mat-card-title-group>
                    <mat-card-content>

                        <!-- TODO: Add Message Context Data here - include Target Name and Target Selection: -->
                        <mat-form-field class="auto-flex model-formfield">
                            <input matInput placeholder="Name" [(ngModel)]="message.name">
                        </mat-form-field>
                        <mat-form-field class="auto-flex model-formfield">
                            <input matInput placeholder="Description" [(ngModel)]="message.description">
                        </mat-form-field>
                        <mat-form-field class="auto-flex model-formfield">
                            <input matInput placeholder="Target Name" [(ngModel)]="message.targetName">
                        </mat-form-field>
                        <mat-form-field class="auto-flex model-formfield">
                            <mat-label>Target Type</mat-label>
                            <mat-select [(ngModel)]="message.targetType">
                                <mat-option [value]="0">Named Target</mat-option>
                                <mat-option [value]="1">Instance Target</mat-option>
                                <mat-option [value]="2">Collision Target</mat-option>
                                <mat-option [value]="3">Focus Target</mat-option>
                                <mat-option [value]="4">Message Queue</mat-option>
                                <mat-option [value]="5">Self</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <solacetk-attributes-panel [panelMode]="1" panelName="Message Data" [(model)]="message.data" panelType="panel">

                        </solacetk-attributes-panel>
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-template>
        <mat-action-row>
            <button mat-button (click)="AddMessage()">Add Message</button>
        </mat-action-row>

    </mat-expansion-panel>
</div>