<!-- <div class="new-button auto-flex">

    <div *ngIf="tabIndex === 0 && !modelSelected">
      <div class="btn-hover-right">
        <ng-content select=".list-buttons"></ng-content>
      </div>

      <button mat-fab color="primary" matTooltip="Create New Model" class="mat-elevation-z4 auto-flex btn-hover-right"
        aria-label="Add new Character Controller" (click)="NewModel()">
        <mat-icon>add</mat-icon>
      </button>

    </div>

    <div *ngIf="tabIndex === 1 && modelSelected">

      <ng-content class="btn-hover-right" select=".editor-buttons"></ng-content>

      <button *ngIf="!IsNewModel" mat-fab color="accent" matTooltip="Export Selected Model"
        class="mat-elevation-z4 btn-hover-right" aria-label="Export Model" (click)="ExportModel()">
        <mat-icon>download</mat-icon>
      </button>

      <button mat-fab color="primary" matTooltip="Save Current Editor" class="mat-elevation-z4 btn-hover-right"
        aria-label="Save Current Editor Window" (click)="SaveModel()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-fab color="warn" matTooltip="Close Current Editor" class="mat-elevation-z4 btn-hover-right"
        aria-label="Close Current Editor Window" (click)="CloseModel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div> -->