<div class="disp-flex social-links">
    <a mat-mini-fab *ngIf="linkedin !== ''" style="background-color: rgb(10, 102, 194);" [href]="linkedin" class="mat-elevation-z2">
      <icon-linkedin></icon-linkedin>
    </a>
    <a mat-mini-fab *ngIf="github !== ''" style="background-color: rgb(13, 17, 23);" [href]="github" class="mat-elevation-z2">
      <icon-github></icon-github>
    </a>
    <a mat-mini-fab *ngIf="facebook !== ''" style="background-color: rgb(240, 242, 245);" [href]="facebook" class="mat-elevation-z2">
      <icon-facebook></icon-facebook>
    </a>
    <a mat-mini-fab *ngIf="soundcloud !== ''" style="background-color: rgb(255, 85, 0);" [href]="soundcloud" class="mat-elevation-z2">
      <icon-soundcloud></icon-soundcloud>
    </a>
  </div>