<!-- *ngIf="!modelSelected || !hideEditorHeading" -->
<!-- Landing Toolbar: -->
<div class="disp-flex auto-flex mat-elevation-z6" style="z-index: 16; position: sticky;">

  <!-- <div class="gap-1 auto-flex"></div> -->

  <mat-toolbar class="no-flex" style="height: 74px;">

    <div class="gap-2 no-flex"></div>

    <img class="no-flex icon-sprite" src="../../../assets/soldof/icons/{{moduleIcon}}" alt="Module Icon">

    <div class="gap-2 no-flex"></div>

    <span *ngIf="service.screenWidth > 990" class="no-flex font-medium model-toolbar-text">{{moduleName}}</span>
    <p *ngIf="indev" class="font-large auto-flex align-center model-toolbar-text text-center" style="color: crimson;">Currently In Development</p>

    <div class="gap-1 auto-flex"></div>

    <solacetk-tags *ngIf="!modelSelected" class="auto-flex" style="padding-top: 24px;" [(model)]="tagFilters"
      (tagsChange)="filter($event)" tkHeading="Tags Filter"></solacetk-tags>

    <!-- <div class="gap-1 no-flex"></div> -->

    <div class="gap-1 auto-flex"></div>

    <div *ngIf="tabIndex === 0 && !modelSelected" class="disp-flex no-flex">

      <ng-content class="no-flex" select=".list-buttons"></ng-content>

      <button mat-icon-button color="primary" class="no-flex" matTooltip="Create New Model"
        aria-label="Add new Character Controller" (click)="NewModel()">
        <mat-icon>add</mat-icon>
      </button>

    </div>

    <div *ngIf="tabIndex === 1 && modelSelected" class="disp-flex no-flex">

      <ng-content class="no-flex" select=".editor-buttons"></ng-content>

      <button *ngIf="!IsNewModel" mat-icon-button color="accent" matTooltip="Export Selected Model"
        aria-label="Export Model" (click)="ExportModel()">
        <mat-icon>download</mat-icon>
      </button>

      <button mat-icon-button color="primary" class="no-flex" matTooltip="Save Current Editor"
        aria-label="Save Current Editor Window" (click)="SaveModel()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button color="warn" class="no-flex" matTooltip="Close Current Editor"
        aria-label="Close Current Editor Window" (click)="CloseModel()">
        <mat-icon>close</mat-icon>
      </button>

    </div>

    <div class="gap-2 no-flex"></div>

  </mat-toolbar>


</div>


<!-- <div class="btn-hover-right" *ngIf="!IsLoading"> -->
<div *ngIf="!IsLoading" [style.height]="(service.screenHeight - (modelSelected ? 140 : 194)) + 'px'">
  <mat-tab-group class="full-height" [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event">

    <!-- List: -->
    <mat-tab bodyClass="full-height" [labelClass]="'file-input'">

      <!-- List Container - This should Scroll: -->
      <div style="padding: 16px; padding-left: 7%; padding-right: 7%;">
        <div class="disp-flex">
          <div class="gap-1 full-width auto-flex"></div>

          <!-- List Card Item: -->
          <div *ngFor='let model of viewData' class="auto-flex" style="height: 20%; padding: 4px; flex: 1 1">
            <!-- style="height: 20%; padding: 4px;" [style.flex]="viewData.indexOf(model) < viewData.length - 1 ? '1 1' : '0 1'"> -->
            <mat-card class="no-flex" [style.background-color]="moduleColor">

              <mat-card-title-group class="align-center">
                <div mat-card-avatar class="no-flex disp-flex align-center">
                  <div class="gap-1 auto-flex"></div>
                  <h3 class="mat-card-subtitle auto-flex font-small">{{filteredData.indexOf(model)}}:</h3>
                </div>
                <div class="auto-flex mr-2">
                  <mat-card-title class="font-large"
                    style="height: 64px; width: 128px; overflow: hidden;">{{model.name}}</mat-card-title>
                </div>

                <button id="modelEditBtn" class="no-flex align-top" aria-label="Edit Model" title="Edit Model"
                  matTooltip="Edit Model" color="accent" mat-icon-button (click)="LoadModel(model)">
                  <mat-icon>edit_square</mat-icon>
                </button>
                <button id="modelDeleteBtn" class="no-flex align-top" aria-label="Delete Model" title="Edit Model"
                  matTooltip="Delete Model" color="warn" mat-icon-button (click)="DeleteModel(model)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-title-group>

              <mat-card-content style="overflow: hidden; height: 48px; width: 128px;">
                <mat-card-subtitle>{{model.description}}</mat-card-subtitle>
              </mat-card-content>

              <mat-card-actions class="align-end full-width">
                <solacetk-tags class="no-flex full-width align-end" [(model)]="model.tags"
                  (tagClick)="clickFilter($event)" [canEdit]="false"></solacetk-tags>
              </mat-card-actions>

            </mat-card>
            <!-- <div class="gap-2 no-flex"></div>
          <div class="gap-1 full-width full-height auto-flex"></div> -->
          </div>

        </div>

        <div class="gap-1 auto-flex"></div>
      </div>

    </mat-tab>


    <!-- Editor: -->
    <mat-tab bodyClass="full-height" [labelClass]="'file-input'">

      <div class="gap-1 auto-flex"></div>

      <div *ngIf="model" style="padding: 16px; padding-left: 7%; padding-right: 7%;">

        <mat-expansion-panel [expanded]="!collapseCoreEditor && IsNewModel" class="auto-flex">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-2">workspaces</mat-icon>
              {{model.name}}
            </mat-panel-title>
            <!-- <mat-panel-description>
              Description: {{model.description}}
            </mat-panel-description> -->
          </mat-expansion-panel-header>

          <div>
            <mat-form-field appearance="outline" class="auto-flex font-small full-width" disabled>
              <mat-label>Id</mat-label>
              <input matInput disabled placeholder="Id" [(ngModel)]="model.id">
            </mat-form-field>

            <mat-form-field class="auto-flex full-width font-small">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" [(ngModel)]="model.name">
            </mat-form-field>

            <mat-form-field class="auto-flex font-small full-width">
              <mat-label>Description</mat-label>
              <textarea matInput #description class="min-height-96 full-width" placeholder="Description"
                [(ngModel)]="model.description"></textarea>
            </mat-form-field>

            <solacetk-tags class="full-width" [(model)]="model.tags"></solacetk-tags>

            <!-- <h3>Properties</h3> -->
            <ng-content select=".editor"></ng-content>

          </div>

          <mat-action-row>
            <ng-content select=".editor-actions"></ng-content>
          </mat-action-row>

        </mat-expansion-panel>

        <div class="gap-2"></div>

        <mat-divider></mat-divider>

        <div class="gap-2"></div>

        <div class="auto-flex full-height">
          <ng-content select=".editor-panels"></ng-content>
        </div>

      </div>

      <!-- <p *ngIf="!modelSelected">No Model Selected, Select a Model from the List or Create a New Model.</p> -->
    </mat-tab>
  </mat-tab-group>

  <mat-paginator *ngIf="!modelSelected" #paginator class="auto-flex mat-elevation-z6"
    style="position: sticky; z-index: 16;" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [pageIndex]="pageIndex" hidePageSize="true" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
    color="primary">
  </mat-paginator>

</div>

<div class="loader">
  <mat-spinner *ngIf="IsLoading || IsSaving"></mat-spinner>
</div>

<!-- <div *ngIf="indev">
  <solacetk-devbanner></solacetk-devbanner>
</div> -->