<div *ngIf="!modelSelected || !hideEditorHeading" class="disp-flex">
  <img class="no-flex model-formfield icon-sprite" src="../../../assets/soldof/icons/{{moduleIcon}}" alt="Module Icon">
  <h1 class="no-flex align-center mr-5">{{moduleName}}</h1>
  <solacetk-tags *ngIf="!modelSelected" class="auto-flex align-center" [(model)]="tagFilters"
    (tagsChange)="filter($event)" tkHeading="Tags Filter"></solacetk-tags>
</div>


<div class="btn-hover-right" *ngIf="!IsLoading">
  <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event">

    <!-- List: -->
    <mat-tab [labelClass]="'file-input'">

      <div class="disp-flex">
        <div class="gap-1 full-width auto-flex"></div>

        <!-- List Card Item: -->
        <div *ngFor='let model of filteredData' class="auto-flex min-width-3 width-33 disp-flex" style="height: 25%;">
          <mat-card class="auto-flex full-height width-96">

            <mat-card-title-group class="align-center" style="height: 64px; overflow: hidden;">
              <div mat-card-avatar class="no-flex disp-flex align-center">
                <div class="gap-1 auto-flex"></div>
                <h3 class="mat-card-subtitle auto-flex font-small">{{filteredData.indexOf(model)}}:</h3>
              </div>
              <div class="auto-flex mr-2">
                <mat-card-title class="font-large">{{model.name}}</mat-card-title>
              </div>

              <button id="modelEditBtn" class="no-flex align-top" aria-label="Edit Model" title="Edit Model"
                matTooltip="Edit Model" color="accent" mat-icon-button (click)="LoadModel(model)">
                <mat-icon>edit_square</mat-icon>
              </button>
              <button id="modelDeleteBtn" class="no-flex align-top" aria-label="Delete Model" title="Edit Model"
                matTooltip="Delete Model" color="warn" mat-icon-button (click)="DeleteModel(model)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-title-group>

            <mat-card-content>
              <mat-card-subtitle>Description: {{model.description}}</mat-card-subtitle>
            </mat-card-content>

            <mat-card-actions class="align-end full-width">
              <solacetk-tags class="no-flex full-width align-end" [(model)]="model.tags"
                (tagClick)="clickFilter($event)" [canEdit]="false"></solacetk-tags>
            </mat-card-actions>

          </mat-card>
          <div class="gap-2 no-flex"></div>
          <div class="gap-1 full-width full-height auto-flex"></div>
        </div>
        
      </div>

      <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
      </mat-paginator>


    </mat-tab>


    <!-- Editor: -->
    <mat-tab class="full-height" [labelClass]="'file-input'">

      <div *ngIf="model" class="mt-2">

        <mat-expansion-panel [expanded]="!collapseCoreEditor" class="auto-flex">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-2">workspaces</mat-icon>
              {{model.name}}
            </mat-panel-title>
            <!-- <mat-panel-description>
              Description: {{model.description}}
            </mat-panel-description> -->
          </mat-expansion-panel-header>

          <div>
            <mat-form-field appearance="outline" class="auto-flex font-small full-width" disabled>
              <mat-label>Id</mat-label>
              <input matInput disabled placeholder="Id" [(ngModel)]="model.id">
            </mat-form-field>

            <mat-form-field class="auto-flex full-width font-small">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" [(ngModel)]="model.name">
            </mat-form-field>

            <mat-form-field class="auto-flex font-small full-width">
              <mat-label>Description</mat-label>
              <textarea matInput #description class="min-height-96 full-width" placeholder="Description"
                [(ngModel)]="model.description"></textarea>
            </mat-form-field>

            <solacetk-tags class="full-width" [(model)]="model.tags"></solacetk-tags>

            <!-- <h3>Properties</h3> -->
            <ng-content select=".editor"></ng-content>

          </div>

          <mat-action-row>
            <ng-content select=".editor-actions"></ng-content>
          </mat-action-row>

        </mat-expansion-panel>

        <div class="gap-2"></div>

        <mat-divider></mat-divider>

        <div class="gap-2"></div>

        <div class="auto-flex full-height">
          <ng-content select=".editor-panels"></ng-content>
        </div>

      </div>

      <p *ngIf="!modelSelected">No Model Selected, Select a Model from the List or Create a New Model.</p>
    </mat-tab>
  </mat-tab-group>


  <div class="new-button auto-flex">


    <div *ngIf="tabIndex === 0 && !modelSelected">
      <div class="btn-hover-right">
        <ng-content select=".list-buttons"></ng-content>
      </div>

      <button mat-fab color="primary" matTooltip="Create New Model" class="mat-elevation-z4 auto-flex btn-hover-right"
        aria-label="Add new Character Controller" (click)="NewModel()">
        <mat-icon>add</mat-icon>
      </button>


    </div>



    <div *ngIf="tabIndex === 1 && modelSelected">

      <ng-content class="btn-hover-right" select=".editor-buttons"></ng-content>

      <button *ngIf="!IsNewModel" mat-fab color="accent" matTooltip="Export Selected Model"
        class="mat-elevation-z4 btn-hover-right" aria-label="Export Model" (click)="ExportModel()">
        <mat-icon>download</mat-icon>
      </button>

      <button mat-fab color="primary" matTooltip="Save Current Editor" class="mat-elevation-z4 btn-hover-right"
        aria-label="Save Current Editor Window" (click)="SaveModel()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-fab color="warn" matTooltip="Close Current Editor" class="mat-elevation-z4 btn-hover-right"
        aria-label="Close Current Editor Window" (click)="CloseModel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</div>

<div class="loader">
  <mat-spinner *ngIf="IsLoading || IsSaving"></mat-spinner>
</div>