.new-button {
    position: fixed;
    right: 8%;
    bottom: 8%;
    width: 1%;
}

.loader {
    position: fixed;
    right:0;
    left: 0;
    Top: 0;
    bottom: 0;
    z-index: 1000;
}

.btn-hover-right {
    margin: 8px;
}

.auto-height {
    height: auto;
}

.width-25 {
    width: 20%;
}

.no-head {
    height: 0px !important;
    display: none !important;
}

.model-toolbar-text {
    flex: 1 1 4rem; 
    white-space: break-spaces; 
    margin: 0;
}

.text-center {
    text-align: center; 
}

