.new-button {
    position: fixed;
    right: 8%;
    bottom: 8%;
    width: 1%;
}

.loader {
    position: fixed;
    right:50%;
    left: 50%;
    Top: 50%;
}

.btn-hover-right {
    margin: 8px;
}

.auto-height {
    height: auto;
}

.width-25 {
    width: 20%;
}

mat-tab-header.mat-tab-header {
    height: 0px !important;
}


