<div *ngIf="panelType == 'panel'">
    <mat-card class="auto-flex" [style.fontSize]="fontSize" [style.backgroundColor]="panelColor">

        <mat-card-header>
            <div mat-card-avatar class="width-1">
                <mat-icon [style.fontSize]="fontSize">{{panelIcon}}</mat-icon>
            </div>
            <mat-card-title [style.fontSize]="fontSize">{{panelName}}</mat-card-title>
        </mat-card-header>

        <mat-card-content [style.width]="unitWidth ? (unitWidth * 64) + 'px' : 'auto'"
            [style.height]="unitHeight ? (unitHeight * 64) + 'px' : 'auto'" [style.overflow]="overflowMethod">

            <ng-content select=".panel-content"></ng-content>

        </mat-card-content>

        <mat-card-actions>
            <ng-content select=".panel-actions"></ng-content>
        </mat-card-actions>

    </mat-card>

</div>


<div *ngIf="panelType == 'expansionpanel'">

    <mat-expansion-panel [style.backgroundColor]="panelColor" [style.fontSize]="fontSize" [expanded]="expanded" (closed)="panelClosed()" (opened)="panelOpened()">
        <mat-expansion-panel-header>
            <mat-panel-title [style.fontSize]="fontSize">
                <div class="disp-flex full-width">
                    <mat-icon class="align-center" [style.fontSize]="fontSize">{{panelIcon}}</mat-icon>
                    <div class="gap-2 no-flex"></div>
                    <div class="align-center auto-flex">{{panelName}}</div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <ng-content select=".panel-content"></ng-content>
            <ng-content select=".expansionpanel-content"></ng-content>
        </ng-template>


        <mat-action-row>
            <ng-content select=".panel-actions"></ng-content>
            <ng-content select=".expansionpanel-actions"></ng-content>
        </mat-action-row>

    </mat-expansion-panel>

</div>