<div *ngIf="panelType == 'panel'" class="disp-flex auto-flex">
    <mat-card class="auto-flex full-height full-width" [style.fontSize]="fontSize" [style.backgroundColor]="panelColor">

        <mat-card-header class="disp-flex flex-gap-050" style="padding-top: 8px; padding-bottom: 8px;" *ngIf="headerEnabled">
            <!-- <div mat-card-avatar class="disp-flex" style="height: 24px; width: auto; margin: 0;">
                
            </div> -->
            <mat-card-title class="disp-flex flex-gap-050" style="align-items: center;" [style.fontSize]="fontSize">
                <mat-icon>{{panelIcon}}</mat-icon>
                <span>{{panelName}}</span>
            </mat-card-title>
            <ng-content select=".panel-header"></ng-content>
        </mat-card-header>

        <mat-card-content *ngIf="contentEnabled" [style.width]="unitWidth ? (unitWidth * 2) + 'em' : 'auto'"
            [style.height]="unitHeight ? (unitHeight * 2) + 'em' : '100%'" class="full-height" [style.overflow]="overflowMethod">

            <ng-content select=".panel-content"></ng-content>

        </mat-card-content>

        <mat-card-footer *ngIf="footerEnabled">
            <ng-content select=".panel-footer"></ng-content>
        </mat-card-footer>

        <mat-card-actions *ngIf="actionsEnabled">
            <ng-content select=".panel-actions"></ng-content>
        </mat-card-actions>

    </mat-card>

</div>


<div *ngIf="panelType == 'expansionpanel'">

    <mat-expansion-panel [disabled]="!panelEnabled" [class]="'mat-elevation-z' + panelElevation" [style.backgroundColor]="panelColor" [style.fontSize]="fontSize" [expanded]="expanded" (closed)="panelClosed()" (opened)="panelOpened()">
        <mat-expansion-panel-header>
            <mat-panel-title class="disp-flex flex-gap-050" [style.fontSize]="fontSize">
                    <mat-icon class="align-center">{{panelIcon}}</mat-icon>
                    {{panelName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <ng-content select=".panel-content"></ng-content>
            <ng-content select=".expansionpanel-content"></ng-content>
        </ng-template>


        <mat-action-row>
            <ng-content select=".panel-actions"></ng-content>
            <ng-content select=".expansionpanel-actions"></ng-content>
        </mat-action-row>

    </mat-expansion-panel>

</div>