<mat-card class="auto-flex" [style.backgroundColor]="panelColor" [style.width]="unitWidth ? (unitWidth * 64) + 'px' : 'auto'" [style.height]="unitHeight ? (unitHeight * 64) + 'px' : 'auto'">

    <mat-card-title-group>
        <mat-icon class="mr-2">{{panelIcon}}</mat-icon>
        <mat-card-title>{{panelName}}</mat-card-title>
    </mat-card-title-group>

    <mat-card-content>
        <div *ngIf="panelType == 'expansionpanel'">
            <mat-expansion-panel [style.backgroundColor]="panelColor">
                <!-- <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-2">{{panelIcon}}</mat-icon>
                        {{panelName}}
                    </mat-panel-title>
                </mat-expansion-panel-header> -->

                <ng-template matExpansionPanelContent>
                    <ng-content select=".panel-content"></ng-content>
                </ng-template>

                <mat-action-row>
                    <ng-content select=".panel-actions"></ng-content>
                </mat-action-row>

            </mat-expansion-panel>
        </div>

        <div *ngIf="panelType == 'panel'">
            
        </div>
        <ng-content select=".panel-content"></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <ng-content select=".panel-actions"></ng-content>
    </mat-card-actions>

</mat-card>