<solacetk-panel-list [fontSize]="fontSize" [unitWidth]="unitWidth" [unitHeight]="unitHeight" [panelName]="panelName"
    [panelIcon]="panelIcon" [panelColor]="panelColor" [panelType]="panelType" [overflowMethod]="overflowMethod" [showActions]="showActions"
    [(model)]="model" [(selectedInstance)]="selectedInstance">

    <div class="instance-editor" *ngIf="selectedInstance">

        <div class="disp-flex">

            <mat-form-field class="auto-flex font-small">
                <mat-label class="font-small">Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="selectedInstance.name">
            </mat-form-field>
            <div class="gap-1 no-flex"></div>
            <mat-form-field class="auto-flex font-small">
                <mat-label class="font-small">Layer Name</mat-label>
                <input matInput placeholder="LayerName" [(ngModel)]="selectedInstance.layerName">
            </mat-form-field>
            <div class="gap-1 no-flex"></div>
            <mat-form-field class="auto-flex font-small">
                <mat-label class="font-small">Layer Order</mat-label>
                <input matInput type="number" placeholder="LayerOrder" [(ngModel)]="selectedInstance.layerOrder">
            </mat-form-field>

        </div>

        <solacetk-attributes-panel panelName="Layer Data" panelType="expansionpanel"
                panelColor="#4a148c" [(model)]="selectedInstance.layerData"></solacetk-attributes-panel>

    </div>

</solacetk-panel-list>