<solacetk-model-list [(model)]="model" moduleName="Behavior Branches" modelUri="Behaviors/branches">
    <div class="editor">
        <mat-divider class="mb-2 mt-2"></mat-divider>



    </div>

    <div class="editor-panels">
        <!-- <mat-accordion> -->

            <solacetk-attributes-panel class="auto-flex mb-2 full-width" panelName="Branch Conditions"
                panelColor="#006064" panelType="expansionpanel" panelIcon="gavel" [(model)]="model.conditions"
                [operatorsEnabled]="true">
            </solacetk-attributes-panel>

            <div class="gap-1 no-flex"></div>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="no-flex">
                        Branch States
                    </mat-panel-title>
                    <mat-chip-set class="auto-flex align-start" *ngIf="model.conditions">
                        <mat-chip *ngFor="let cond of model.conditions" style="background-color: #006064;">
                            {{cond.key}} {{conditionalOperators[cond.operator]}} {{cond.data}}
                        </mat-chip>
                </mat-chip-set>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <div class="disp-flex" cdkDropList (cdkDropListDropped)="dropBranches($event)" *ngIf="model.states">
                        <div cdkDrag [cdkDragData]="state" class="place-flex-start mb-2 mr-2" *ngFor="let state of model.states">
                            <mat-card style="background-color: #009688;" class="auto-flex">
                                <mat-chip-set *ngIf="state.conditions">
                                    <div *ngFor="let condition of state.conditions">
                                        <mat-chip style="background-color: #006064;">
                                            {{condition.key}} {{actionOperators[condition.operator]}} {{condition.data}}
                                        </mat-chip>
                                    </div>
                                </mat-chip-set>
                            </mat-card>
                            <div class="auto-flex">
                                <mat-icon class="auto-flex full-width text-center">arrow_downward</mat-icon>
                            </div>

                            <div *ngIf="state.name && state.animation">
                                <solacetk-animation-editor [panelName]="state.name" [(model)]="state.animation.actFrameData"
                                    [showDataPanel]="false" [showFrames]="false" bgColor="#009688"></solacetk-animation-editor>
                            </div>
                        </div>
                    </div>

                </ng-template>


                <mat-action-row>
                    <button mat-button color="primary" (click)="openBranchesSheet()">Add</button>
                </mat-action-row>
            </mat-expansion-panel>
            <div class="gap-1 no-flex"></div>

        <!-- </mat-accordion> -->



    </div>
</solacetk-model-list>