<solacetk-model-list [(model)]="model" moduleName="Behavior Branches" modelUri="Behaviors/branches">
    <div class="editor">
        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">
        <mat-accordion>

            <solacetk-attributes-panel class="auto-flex mb-2 full-width" panelName="Branch Conditions"
                panelColor="darkslategrey" panelType="expansionpanel" panelIcon="gavel" [(model)]="model.conditions"
                [operatorsEnabled]="true">
            </solacetk-attributes-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Branch States
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <div class="disp-flex" cdkDropList (cdkDropListDropped)="dropBranches($event)" *ngIf="model.states">
                        <div class="place-flex-start mb-2 mr-2" *ngFor="let state of model.states">
                            <mat-list *ngIf="state.conditions">
                                <mat-list-item *ngFor="let condition of state.conditions">
                                    <p matLine *ngFor="let cond of condition.conditions">{{cond.key}} => {{cond.data}}</p>
                                </mat-list-item>
                            </mat-list>
                            <div class="auto-flex">
                                <mat-icon class="auto-flex full-width text-center">arrow_downward</mat-icon>
                            </div>
                            <mat-card class="bg-task-card" cdkDrag [cdkDragData]="state">
                                <mat-card-title-group>
                                    <mat-card-title class="font-medium auto-flex">{{state.name}}</mat-card-title>
                                </mat-card-title-group>
                                <mat-card-content>


                                    <div *ngIf="state.animation">
                                    <solacetk-animation-editor [(model)]="state.animation.actFrameData"
                                        [showDataPanel]="false" [showFrames]="false"></solacetk-animation-editor>
                                        </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </ng-template>


                <mat-action-row>
                    <button mat-button color="primary" (click)="openBranchesSheet()">Add</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>



    </div>
</solacetk-model-list>