<solacetk-model-list [(model)]="model" moduleName="Behavior Animations" modelUri="Behaviors/animations">
    <div class="editor-content">

        <div class="character-container">

            <div class="disp-flex">
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput disabled placeholder="Id" [(ngModel)]="model.id">
                </mat-form-field>
            </div>

            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="model.name">
            </mat-form-field>

            <div class="disp-flex">
                <mat-form-field class="model-formfield no-flex">
                    <input matInput #speed placeholder="Playback Speed" [(ngModel)]="model.speed">
                </mat-form-field>
                <mat-checkbox name="loop" class="model-formfield" [(ngModel)]="model.loop">Loop</mat-checkbox>
                <mat-checkbox name="invert" class="model-formfield" [(ngModel)]="model.invert">Invert</mat-checkbox>
                <mat-checkbox name="mirror" [(ngModel)]="model.mirror">Mirror</mat-checkbox>
            </div>

            <div class="disp-flex">
                <img class="sprite-thumb model-formfield no-flex" src="../../../assets/soldof/images/settings.PNG" alt="sprite">
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="Start Sprite Sheet" [(ngModel)]="model.beginSheetName">
                </mat-form-field>
            </div>

            <div class="disp-flex">
                <img class="sprite-thumb model-formfield no-flex" src="../../../assets/soldof/images/settings.PNG" alt="sprite">
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="Act Sprite Sheet" [(ngModel)]="model.actSheetName">
                </mat-form-field>
            </div>

            <div class="disp-flex">
                <img class="sprite-thumb model-formfield no-flex" src="../../../assets/soldof/images/settings.PNG" alt="sprite">
                <mat-form-field class="auto-flex model-formfield">
                    <input matInput placeholder="End Sprite Sheet" [(ngModel)]="model.endSheetName">
                </mat-form-field>
            </div>

            <mat-divider class="mb-2 mt-2"></mat-divider>

            <mat-form-field class="auto-flex">
                <textarea matInput #description class="min-height-96 full-width" placeholder="Description"
                    [(ngModel)]="model.description"></textarea>
            </mat-form-field>

            <mat-accordion class="auto-flex align-start full-width">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Start Animation Frames
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="full-height"></div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Act Animation Frames
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="full-height"></div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            End Animation Frames
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="full-height"></div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attributes
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="full-height"></div>

                </mat-expansion-panel>
            </mat-accordion>


        </div>

    </div>
</solacetk-model-list>