<solacetk-model-list [(model)]="model" moduleName="Behavior Animations" modelUri="Behaviors/animations">
    <div class="editor">
        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Start Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="disp-flex">
                        <mat-form-field class="model-formfield no-flex">
                            <input matInput #speed placeholder="Playback Speed" [(ngModel)]="model.speed">
                        </mat-form-field>
                        <mat-checkbox name="loop" class="auto-flex model-formfield" [(ngModel)]="model.loop">Loop
                        </mat-checkbox>
                        <mat-checkbox name="invert" class="auto-flex model-formfield" [(ngModel)]="model.invert">Invert
                        </mat-checkbox>
                        <mat-checkbox name="mirror" class="auto-flex " [(ngModel)]="model.mirror">Mirror</mat-checkbox>
                    </div>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Act Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="disp-flex">
                        <mat-form-field class="model-formfield no-flex">
                            <input matInput #speed placeholder="Playback Speed" [(ngModel)]="model.speed">
                        </mat-form-field>
                        <mat-checkbox name="loop" class="auto-flex model-formfield" [(ngModel)]="model.loop">Loop
                        </mat-checkbox>
                        <mat-checkbox name="invert" class="auto-flex model-formfield" [(ngModel)]="model.invert">Invert
                        </mat-checkbox>
                        <mat-checkbox name="mirror" class="auto-flex " [(ngModel)]="model.mirror">Mirror</mat-checkbox>
                    </div>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        End Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="disp-flex">
                        <mat-form-field class="model-formfield no-flex">
                            <input matInput #speed placeholder="Playback Speed" [(ngModel)]="model.speed">
                        </mat-form-field>
                        <mat-checkbox name="loop" class="auto-flex model-formfield" [(ngModel)]="model.loop">Loop
                        </mat-checkbox>
                        <mat-checkbox name="invert" class="auto-flex model-formfield" [(ngModel)]="model.invert">Invert
                        </mat-checkbox>
                        <mat-checkbox name="mirror" class="auto-flex " [(ngModel)]="model.mirror">Mirror</mat-checkbox>
                    </div>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Attributes
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="full-height"></div>

            </mat-expansion-panel>
        </mat-accordion>


    </div>
</solacetk-model-list>