<solacetk-model-list [(model)]="model" moduleName="Behavior Animations" (modelCreated)="CreateAnim()" (modelClosed)="CloseAnim()" (modelLoaded)="LoadAnim()"
    modelUri="Behaviors/animations">
    <div class="editor">
        <mat-divider class="mb-2 mt-2"></mat-divider>
    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Start Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <!-- Frames Content: -->
                    <solacetk-animation-editor [(model)]="model.startFrameData" [unloadChange]="unloadModules"></solacetk-animation-editor>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Act Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <!-- Frames Content: -->
                    <solacetk-animation-editor [(model)]="model.actFrameData" [unloadChange]="unloadModules"></solacetk-animation-editor>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        End Frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <!-- Frames Content: -->
                    <solacetk-animation-editor [(model)]="model.endFrameData" (unload)="unloadModules"></solacetk-animation-editor>
                </ng-template>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Attributes
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="full-height"></div>

            </mat-expansion-panel>
        </mat-accordion>


    </div>
</solacetk-model-list>