<!-- <mat-toolbar [color]="toolNavColor" [class]="toolNavStyle"> -->

    <div class="disp-flex" [class.flex-vertical]="toolbarDirection == 'vertical'">

        <a mat-button class="let-space-1 auto-flex" [routerLink]="['/artifacts']">
            <mat-icon>storage</mat-icon>
            ARTIFACTS
        </a>

        <a mat-button class="let-space-1 auto-flex" [routerLink]="['/projects']">
            <mat-icon>developer_board</mat-icon>
            PROJECTS
        </a>

        <div class="auto-flex" *ngFor="let menu of toolsList">
            <button mat-button class="let-space-1 auto-flex" [matMenuTriggerFor]="menuList">
                <mat-icon>{{menu.icon}}</mat-icon>
                {{menu.name}}
            </button>
            <mat-menu #menuList="matMenu">
                <a mat-menu-item [routerLink]="['/' + item.route]" *ngFor="let item of menu.items">
                    <!-- <mat-icon style="color: mediumspringgreen;">label</mat-icon>{{item.name}} -->
                    <div class="disp-flex auto-flex">
                        <solacetk-svg-plate class="align-center" [plateColor]="item.plateColor" [plateText]="item.plateText" width="28px" height="28px" radius="12" style="padding-right: 0.5em;"></solacetk-svg-plate>
                        {{item.name}}
                    </div>
                </a>
            </mat-menu>
        </div>

        <!-- <button mat-button class="let-space-1 auto-flex" [matMenuTriggerFor]="effectsMenu">
            <mat-icon>air</mat-icon>
            EFFECTS
        </button>
        <mat-menu #effectsMenu="matMenu">
            <a mat-menu-item [routerLink]="['/audioeffects']">Audio Effects</a>
            <a mat-menu-item [routerLink]="['/visualeffects']">Visual Effects</a>
            <a mat-menu-item [routerLink]="['/lights']">Lights</a>
            <a mat-menu-item [routerLink]="['/liquids']">Liquids</a>
            <a mat-menu-item [routerLink]="['/overlays']">Overlays</a>
        </mat-menu> -->
    </div>

<!-- </mat-toolbar> -->