<solacetk-panel fontSize="small" [panelName]="panelName" [panelIcon]="panelIcon" [panelColor]="panelColor"
    [panelType]="panelType" [unitWidth]="unitWidth" [unitHeight]="unitHeight">

    <div class="panel-content">

        <div *ngIf="model" class="disp-flex">

            <div *ngFor="let attr of model" class="auto-flex width-33" style="padding-left: 4px; padding-bottom: 4px;">
                <mat-card class="auto-flex full-width">

                    <mat-card-content class="disp-flex no-flex">

                        <div class="no-flex font-small align-center control-element"
                            style="left: 8px; z-index: unset; color: dimgray;">
                            {{GetKeyIndex(attr)}}:
                        </div>

                        <mat-chip-set class="disp-flex auto-flex full-width" style="margin: 0;">
                            <!-- <div class="disp-flex no-flex"> -->
                            <mat-chip-row disableRipple="true" class="auto-flex align-center"
                                (edited)="attr.key = $event.value" [editable]="true" style="overflow: hidden;">
                                <span class="matChipEditInput no-flex">{{attr.key}}</span>
                            </mat-chip-row>

                            <mat-chip *ngIf="operatorsEnabled" class="no-flex align-center"
                                [style.background-color]="panelMode == 0 ? '#6741a3' : '#564668'"
                                [matMenuTriggerFor]="conditionalOps" [matMenuTriggerData]="{index: GetKeyIndex(attr) }">
                                <span class="auto-flex">{{operators[attr.operator]}}</span>
                            </mat-chip>

                            <mat-chip-row disableRipple="true" class="auto-flex align-center"
                                (edited)="attr.data = $event.value" [value]="attr.data" [editable]="true"
                                style="overflow: hidden;">
                                <span class="matChipEditInput no-flex">{{attr.data}}</span>
                            </mat-chip-row>

                        </mat-chip-set>


                        <button mat-icon-button color="primary" class="no-flex align-top control-element"
                            aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                            <mat-icon class="font-medium">remove</mat-icon>
                        </button>

                    </mat-card-content>
                </mat-card>
            </div>

        </div>

    </div>

    <div class="panel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

    <div class="expansionpanel-content">
        
        <div *ngIf="model" class="disp-flex">

            <div *ngFor="let attr of model" class="auto-flex width-33" style="padding-left: 4px; padding-bottom: 4px;">
                <mat-card class="auto-flex full-width">

                    <mat-card-content class="disp-flex no-flex">

                        <div class="no-flex font-small align-center control-element"
                            style="left: 8px; z-index: unset; color: dimgray;">
                            {{GetKeyIndex(attr)}}:
                        </div>

                        <mat-chip-set class="disp-flex auto-flex full-width" style="margin: 0;">
                            <!-- <div class="disp-flex no-flex"> -->
                            <mat-chip-row disableRipple="true" class="auto-flex align-center"
                                (edited)="attr.key = $event.value" [editable]="true" style="overflow: hidden;">
                                <span class="matChipEditInput no-flex">{{attr.key}}</span>
                            </mat-chip-row>

                            <mat-chip *ngIf="operatorsEnabled" class="no-flex align-center"
                                [style.background-color]="panelMode == 0 ? '#6741a3' : '#564668'"
                                [matMenuTriggerFor]="conditionalOps" [matMenuTriggerData]="{index: GetKeyIndex(attr) }">
                                <span class="auto-flex">{{operators[attr.operator]}}</span>
                            </mat-chip>

                            <mat-chip-row disableRipple="true" class="auto-flex align-center"
                                (edited)="attr.data = $event.value" [value]="attr.data" [editable]="true"
                                style="overflow: hidden;">
                                <span class="matChipEditInput no-flex">{{attr.data}}</span>
                            </mat-chip-row>

                        </mat-chip-set>


                        <button mat-icon-button color="primary" class="no-flex align-top control-element"
                            aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                            <mat-icon class="font-medium">remove</mat-icon>
                        </button>

                    </mat-card-content>
                </mat-card>
            </div>

        </div>

    </div>

    <div class="expansionpanel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

    <mat-menu #conditionalOps="matMenu">
        <ng-template matMenuContent let-index="index">
            <button *ngFor="let op of operators" mat-menu-item (click)="SelectOperator(index, op)">{{op}}</button>
        </ng-template>
    </mat-menu>

</solacetk-panel>