<solacetk-panel [panelName]="panelName" [panelIcon]="panelIcon" [panelColor]="panelColor" [panelType]="panelType" [unitWidth]="unitWidth" [unitHeight]="unitHeight">

    <div class="panel-content">

        <div *ngIf="model">


            <div cdkDropList (cdkDropListDropped)="dropConditions($event)">
                <div cdkDrag [cdkDragData]="attr" *ngFor="let attr of model" class="mb-2" style="margin: 0;">

                    <div class="disp-flex">


                        <div class="no-flex model-field-small mr-2">
                            <h4>[{{GetKeyIndex(attr)}}]:</h4>
                        </div>

                        <mat-form-field class="auto-flex font-small model-field-small width-5 mr-2">
                            <mat-label>Key</mat-label>
                            <input matInput placeholder="Key" [(ngModel)]="attr.key">
                        </mat-form-field>

                        <mat-form-field *ngIf="operatorsEnabled" class="no-flex font-small model-field-small mr-2 width-5-min">
                            <mat-label>Operator</mat-label>
                            <mat-select [(ngModel)]="attr.operator">
                                <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="auto-flex font-small model-field-small width-5">
                            <mat-label>Data</mat-label>
                            <input matInput placeholder="Data" [(ngModel)]="attr.data">
                        </mat-form-field>

                        <button mat-icon-button color="primary" class="no-flex align-top" aria-label="Remove Attribute"
                            (click)="RemoveAttribute(attr)">
                            <mat-icon>remove</mat-icon>
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

    <div class="expansionpanel-content">
        <div *ngIf="model">


            <div cdkDropList (cdkDropListDropped)="dropConditions($event)">
                <div cdkDrag [cdkDragData]="attr" *ngFor="let attr of model" class="mb-2" style="margin: 0;">

                    <div class="disp-flex full-width">


                        <div class="no-flex font-small align-center">
                            <h4>[{{GetKeyIndex(attr)}}]:</h4>
                        </div>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field class="auto-flex font-small width-5">
                            <mat-label>Key</mat-label>
                            <input matInput placeholder="Key" [(ngModel)]="attr.key">
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field *ngIf="operatorsEnabled" class="no-flex font-small width-8">
                            <mat-label>Operator</mat-label>
                            <mat-select [(ngModel)]="attr.operator">
                                <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field class="auto-flex font-small width-5">
                            <mat-label>Data</mat-label>
                            <input matInput placeholder="Data" [(ngModel)]="attr.data">
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <button mat-icon-button color="primary" class="no-flex align-top" aria-label="Remove Attribute"
                            (click)="RemoveAttribute(attr)">
                            <mat-icon>remove</mat-icon>
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="expansionpanel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

</solacetk-panel>

    <!-- <div *ngIf="panelType === 'expansionpanel'">

        <mat-expansion-panel [class]="panelClass" [style.background-color]="panelColor">
            <mat-expansion-panel-header class="auto-flex">
                <mat-panel-title>
                    <mat-icon class="mr-2">{{panelIcon}}</mat-icon>
                    {{panelName}}
                </mat-panel-title>
                <mat-chip-list class="auto-flex align-start">
                    <mat-chip *ngFor="let cond of model" class="font-small" style="background-color: transparent;">
                        {{cond.key}} {{operators[cond.operator ?? 0]}} {{cond.data}}
                    </mat-chip>
                </mat-chip-list>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>

                <div *ngIf="model">


                    <div cdkDropList (cdkDropListDropped)="dropConditions($event)">
                        <mat-card cdkDrag [cdkDragData]="attr" *ngFor="let attr of model" class="mb-2"
                            style="margin: 0;">

                            <mat-card-title-group>


                            </mat-card-title-group>

                            <mat-card-content class="disp-flex">


                                <div class="no-flex model-field-small mr-2">
                                    <h4>[{{GetKeyIndex(attr)}}]:</h4>
                                </div>

                                <mat-form-field class="auto-flex model-field-small width-5 mr-2">
                                    <input matInput placeholder="Key" [(ngModel)]="attr.key">
                                </mat-form-field>

                                <mat-form-field *ngIf="operatorsEnabled"
                                    class="no-flex model-field-small mr-2 width-5-min">
                                    <mat-label>Operator</mat-label>
                                    <mat-select [(ngModel)]="attr.operator">
                                        <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="auto-flex model-field-small width-5">
                                    <input matInput placeholder="Data" [(ngModel)]="attr.data">
                                </mat-form-field>

                                <button mat-icon-button color="primary" class="no-flex align-top"
                                    aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </mat-card-content>
                        </mat-card>
                    </div>


                </div>

            </ng-template>


            <mat-action-row>

            </mat-action-row>
        </mat-expansion-panel>

    </div> -->

    <!-- <div *ngIf="panelType === 'panel'">

    <mat-card *ngIf="model" class="auto-flex" [style.backgroundColor]="panelColor">

        <mat-card-title-group class="disp-flex">
            <mat-icon class="disp-flex align-start mr-2">{{panelIcon}}</mat-icon>
            <mat-card-title class="auto-flex">{{panelName}}</mat-card-title>
            <mat-chip-list class="auto-flex font-small" *ngIf="model">
                <mat-chip *ngFor="let cond of model" class="font-small" style="background-color: transparent;">
                    {{cond.key}} {{operators[cond.operator ?? 0]}} {{cond.data}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-title-group>

        <mat-card-content>
            <mat-list cdkDropList (cdkDropListDropped)="dropConditions($event)">
                <div cdkDrag [cdkDragData]="attr" *ngFor="let attr of model">
                    <mat-list-item>
                        <div class="no-flex align-end font-small">
                            <h4 matLine>[{{GetKeyIndex(attr)}}]:</h4>
                        </div>
                        <mat-form-field class="auto-flex font-small width-33">
                            <input matInput placeholder="Key" [(ngModel)]="attr.key">
                        </mat-form-field>
                        <mat-form-field *ngIf="operatorsEnabled" class="no-flex font-small width-33">
                            <mat-label>Operator</mat-label>
                            <mat-select [(ngModel)]="attr.operator">
                                <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="auto-flex font-small width-33">
                            <input matInput placeholder="Data" [(ngModel)]="attr.data">
                        </mat-form-field>
                        <button mat-icon-button class="no-flex font-small" aria-label="Remove Attribute"
                            (click)="RemoveAttribute(attr)">
                            <mat-icon>remove</mat-icon>
                        </button>

                    </mat-list-item>
                    <mat-divider class="mb-2 mt-2"></mat-divider>
                </div>
            </mat-list>

        </mat-card-content>


    </mat-card>
    <button mat-button (click)="AddAttribute()">Add</button>
</div> -->

