<solacetk-panel fontSize="small" [panelName]="panelName" [panelIcon]="panelIcon" [panelColor]="panelColor"
    [panelType]="panelType" [unitWidth]="unitWidth" [unitHeight]="unitHeight">

    <div class="panel-content">

        <div *ngIf="model">


            <div cdkDropList (cdkDropListDropped)="dropConditions($event)">
                <div cdkDrag [cdkDragData]="attr" *ngFor="let attr of model" style="margin: 0;">

                    <!-- Index Row: -->
                    <div class="disp-flex full-width">
                        <div class="no-flex font-small align-center">
                            <p>{{GetKeyIndex(attr)}}:</p>
                        </div>
                        <div class="gap-1 auto-flex"></div>
                        <button mat-icon-button color="primary" class="no-flex font-small align-top"
                            aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>

                    <!-- Form Fields Mode: -->
                    <div *ngIf="fieldMode == 'formfields'" class="disp-flex full-width">

                        <mat-form-field class="auto-flex font-small width-33">
                            <mat-label class="font-small">Key</mat-label>
                            <input matInput placeholder="Key" [(ngModel)]="attr.key">
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field *ngIf="operatorsEnabled" class="auto-flex font-small width-5">
                            <mat-label class="font-small">Operator</mat-label>
                            <mat-select class="font-small" [(ngModel)]="attr.operator">
                                <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field class="auto-flex font-small width-33">
                            <mat-label class="font-small">Data</mat-label>
                            <input matInput placeholder="Data" [(ngModel)]="attr.data">
                        </mat-form-field>

                    </div>

                    <!-- Chip Fields Mode: -->
                    <div *ngIf="fieldMode == 'chips'" class="disp-flex full-width">

                        <mat-chip-set>
                            <div class="disp-flex no-flex">
                                <mat-chip style="background-color: #006064;">
                                    <span matChipEditInput>{{attr.key}}</span>
                                </mat-chip>

                                <mat-chip *ngIf="operatorsEnabled" style="background-color: #006064;"
                                    [matMenuTriggerFor]="conditionalOps">
                                    <span>{{operators[attr.operator]}}</span>
                                    <mat-menu #conditionalOps="matMenu">
                                        <button *ngFor="let op of operators" mat-menu-item
                                            (click)="attr.operator = operators.indexOf(op);">Characters</button>
                                    </mat-menu>
                                </mat-chip>

                                <mat-chip style="background-color: #006064;">
                                    <span matChipEditInput>{{attr.data}}</span>
                                </mat-chip>
                            </div>
                        </mat-chip-set>

                    </div>

                    <mat-divider></mat-divider>
                    <div class="gap-1 no-flex"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

    <div class="expansionpanel-content">
        <div *ngIf="model">

            <!-- Chip Fields Mode: -->
            <div *ngIf="fieldMode == 'chips'">

                <mat-chip-grid class="auto-flex" style="margin: 0;">
                    <div *ngFor="let attr of model" class="auto-flex" style="padding-left: 4px; padding-bottom: 4px;">
                        <mat-card class="auto-flex mat-elevation-z0">

                            <mat-card-content class="disp-flex auto-flex" style="flex-wrap: nowrap;">

                                <div class="no-flex font-medium align-center">
                                    {{GetKeyIndex(attr)}}:
                                </div>

                                <div class="gap-1 no-flex"></div>


                                <!-- <div class="disp-flex no-flex"> -->
                                <mat-chip-row disableRipple="true" class="auto-flex align-center" (edited)="attr.key = $event.value" [editable]="true">
                                    <!-- <span matChipEditInput>{{attr.key}}</span> -->
                                    {{attr.key}}
                                </mat-chip-row>

                                <mat-chip *ngIf="operatorsEnabled" class="no-flex align-center" [style.background-color]="panelMode == 0 ? '#6741a3' : '#564668'"
                                    [matMenuTriggerFor]="conditionalOps"
                                    [matMenuTriggerData]="{index: GetKeyIndex(attr) }">
                                    <span>{{operators[attr.operator]}}</span>
                                </mat-chip>

                                <mat-chip-row disableRipple="true" class="auto-flex align-center" (edited)="attr.data = $event.value" [value]="attr.data" [editable]="true">
                                    <!-- <span matChipEditInput>{{attr.data}}</span> -->
                                    {{attr.data}}
                                </mat-chip-row>
                                <!-- </div> -->


                                <div class="gap-1 no-flex"></div>

                                <button mat-icon-button color="primary" class="no-flex font-small align-top"
                                    aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-chip-grid>

            </div>

            <mat-menu #conditionalOps="matMenu">
                <ng-template matMenuContent let-index="index">
                    <button *ngFor="let op of operators" mat-menu-item
                        (click)="SelectOperator(index, op)">{{op}}</button>
                </ng-template>
            </mat-menu>

            <!-- <div cdkDropList (cdkDropListDropped)="dropConditions($event)">
                <div cdkDrag [cdkDragData]="attr" *ngFor="let attr of model" style="margin: 0;"> -->

            <!-- <div class="disp-flex full-width">
                        <div class="no-flex font-small align-center">
                            <p>{{GetKeyIndex(attr)}}:</p>
                        </div>
                        <div class="gap-1 auto-flex"></div>
                        <button mat-icon-button color="primary" class="no-flex font-small align-top"
                            aria-label="Remove Attribute" (click)="RemoveAttribute(attr)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div> -->

            <!-- Form Fields Mode: -->
            <!-- <div *ngIf="fieldMode == 'formfields'" class="disp-flex full-width">

                        <mat-form-field class="auto-flex font-small width-33">
                            <mat-label class="font-small">Key</mat-label>
                            <input matInput placeholder="Key" [(ngModel)]="attr.key">
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field *ngIf="operatorsEnabled" class="auto-flex font-small width-5">
                            <mat-label class="font-small">Operator</mat-label>
                            <mat-select class="font-small" [(ngModel)]="attr.operator">
                                <mat-option *ngFor="let op of operators" [value]="operators.indexOf(op)">{{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="gap-1 no-flex"></div>

                        <mat-form-field class="auto-flex font-small width-33">
                            <mat-label class="font-small">Data</mat-label>
                            <input matInput placeholder="Data" [(ngModel)]="attr.data">
                        </mat-form-field>

                        <mat-divider></mat-divider>

                    </div> -->

            <!-- <div class="gap-1 no-flex"></div>
                </div> -->
            <!-- </div> -->

        </div>

    </div>

    <div class="expansionpanel-actions">

        <button mat-button (click)="AddAttribute()">Add</button>
        <ng-content select=".action-row"></ng-content>

    </div>

</solacetk-panel>