<mat-card class="mat-elevation-z0 auto-flex" [style.backgroundColor]="bgColor">
    <mat-card-content>

        <div class="disp-flex mb-2" *ngIf="model">

            <!-- Frame List -->
            <div class="no-flex mr-2 width-6">
                <h3>Frames</h3>
                <mat-chip-list class="no-flex">
                    <mat-chip class="min-width-12 justify-center" *ngFor="let frame of frames"
                        (click)="onSelect(frame)">
                        {{frame.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <!-- Sprite Animation Preview -->
            <div class="auto-flex width-2">

                <div *ngIf="showFrames && aseReady">
                    <h4>Frame: {{selectedFrame.name}}</h4>
                    <mat-form-field class="auto-flex" appearance="fill">
                        <mat-label>Duration</mat-label>
                        <input type="number" matInput [(ngModel)]="model.frames[selected].duration" placeholder="100">
                        <span matSuffix>ms</span>
                    </mat-form-field>
                </div>

                <div class="disp-flex align-center relative-container">
                    <div class="sprite no-flex sprite-frame" [style.width]="frameWidth + 'px'">
                        <img [class]="aseReady ? 'sprite-thumb-2col sprite align-center component-collider' : 'sprite-thumb-2col sprite-placeholder align-center component-collider'"
                            [src]="sheetName" [style.backgroundColor]="bgColor" alt="sprite"
                            [style.left]="(selected * -(frameWidth)) + 'px'">
                    </div>
                    <div *ngIf="model.components && model.components.length > 0">
                        <div class="component-visual" *ngFor="let component of model.components"
                            [matTooltip]="component.name" [style.backgroundColor]="component.color"
                            [style.left]="(component.positionX * 96) + 'px'"
                            [style.bottom]="(component.positionY * 96) + 'px'"
                            [style.width]="(component.scaleX * frameWidth) + 'px'"
                            [style.height]="(component.scaleY * frameWidth) + 'px'">
                        </div>
                    </div>
                </div>

                <mat-divider></mat-divider>
                <div class="disp-flex auto-flex mt-2">

                    <button *ngIf="!isPlaying" mat-button color="primary" (click)="playAnimation()">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button *ngIf="isPlaying" mat-button color="primary" (click)="stopAnimation()">
                        <mat-icon>stop</mat-icon>
                    </button>
                </div>

            </div>

        </div>

        <div class="disp-flex" *ngIf="model && showFrames && aseReady">


            <!-- Visual Component Data -->
            <div class="auto-flex width-8">
                <!-- <solacetk-attributes-panel [panelMode]="1" panelColor="teal" [panelName]="model.components[selectedCompIndex].name + ' Data'" [(model)]="model.components[selectedCompIndex].componentData">
                </solacetk-attributes-panel> -->
                <solacetk-controller-component [(model)]="model.components" [(selectedComponent)]="selectedComponent"
                    panelColor="darkslategrey"></solacetk-controller-component>
            </div>

            <!-- Visual Frame Data -->
            <div class="auto-flex width-2">
                <solacetk-attributes-panel [panelMode]="1" [panelName]="'Frame ' + selected + ' Data'"
                    panelType="expansionpanel" [(model)]="model.frames[selected].downstreamData">
                </solacetk-attributes-panel>
            </div>
        </div>



        <!-- Components List -->
        <!-- <div *ngIf="showFrames && aseReady" class="auto-flex mb-2">
            <h3>Components</h3>
            <mat-chip-list class="auto-flex">
                <mat-chip class="min-width-12 justify-center" *ngFor="let component of model.components"
                    (click)="onComponentSelect(component)">
                    {{component.name}}
                </mat-chip>
            </mat-chip-list>
        </div> -->

        <mat-divider class="mb-2 mt-2"></mat-divider>

    </mat-card-content>

    <mat-card-actions class="pos-bottom mt-2">
        <div *ngIf="showDataPanel">
            <button mat-button color="primary" (click)="aseUpload.click()">Import Aseprite</button>
            <button mat-button color="primary" (click)="sheetUpload.click()">Import Sprite
                Sheet</button>
            <button mat-button color="primary" (click)="textureUpload.click()">Add Frame</button>
            <button mat-button (click)="loadDefaultComponents()">Add Default Components</button>
            <button mat-button (click)="addComponent()">Add Component</button>
            <button mat-button color="primary" (click)="logModel()">Log Model</button>
            <input type="file" class="file-input" (change)="onAseSelected($event)" accept=".ase,.aseprite" #aseUpload>
            <input type="file" class="file-input" (change)="onSheetSelected($event)" accept=".png" #sheetUpload>
            <input type="file" class="file-input" (change)="onTextureSelected($event)" accept=".png" #textureUpload>


        </div>
    </mat-card-actions>

</mat-card>

<mat-divider class="mb-2 mt-2"></mat-divider>

<div *ngIf="showDataPanel && model" class="disp-flex">
    <mat-form-field class="model-formfield no-flex">
        <input matInput #speed placeholder="Playback Speed" [(ngModel)]="model.speed">
    </mat-form-field>
    <mat-checkbox name="loop" class="auto-flex model-formfield align-center" [(ngModel)]="model.loop">Loop
    </mat-checkbox>
    <mat-checkbox name="invert" class="auto-flex model-formfield align-center" [(ngModel)]="model.invert">Invert
    </mat-checkbox>
    <mat-checkbox name="mirror" class="auto-flex align-center" [(ngModel)]="model.mirror">Mirror
    </mat-checkbox>
</div>