<solacetk-panel [panelName]="panelName" panelIcon="animation" [panelColor]="bgColor" [panelType]="panelType" [expanded]="expanded">

    <div class="panel-content">
        <div class="disp-flex" *ngIf="model">

            <!-- Sprite Animation Preview -->
            <div class="auto-flex">

                <div class="disp-flex auto-flex relative-container">

                    <div class="auto-flex"></div>

                    <!-- Sprite View: -->
                    <div class="no-flex align-center relative-container"
                        [style.height]="(spriteHeight * zoomFactor) + 'px'"
                        [style.width]="(spriteWidth * zoomFactor) + 'px'">
                        <div class="sprite no-flex sprite-frame" [style.width]="(spriteWidth * zoomFactor) + 'px'">
                            <img [class]="aseReady ? 'sprite sprite-perfect align-center component-collider' : 'sprite-placeholder sprite-perfect align-center component-collider'"
                                [src]="sheetName" [style.backgroundColor]="'transparent'" alt="sprite"
                                [style.left]="(selected * -(spriteWidth * zoomFactor)) + 'px'"
                                [style.height]="(spriteHeight * zoomFactor) + 'px'">
                        </div>
                        <div *ngIf="model.components && model.components.length > 0">
                            <div class="component-visual" *ngFor="let component of model.components" cdkDrag
                                [matTooltip]="component.name" [style.backgroundColor]="component.color"
                                [style.left]="(component.positionX * spriteWidth * zoomFactor) + 'px'"
                                [style.bottom]="(component.positionY * spriteHeight * zoomFactor) + 'px'"
                                [style.width]="(component.scaleX * spriteWidth * zoomFactor) + 'px'"
                                [style.height]="(component.scaleY * spriteHeight * zoomFactor) + 'px'">
                            </div>
                        </div>
                    </div>

                    <div class="auto-flex"></div>

                    <!-- Animation Editor Overlay: -->
                    <div *ngIf="showFrames && aseReady" [style.minHeight]="'384px'">

                        <!-- Loop/Invert/Mirror: -->
                        <div class="auto-flex relative-input" [style.left]="0" [style.top]="0">

                            <mat-form-field class="disp-flex font-small">
                                <mat-label>Frame Name</mat-label>
                                <input type="text" matInput [(ngModel)]="model.frames[selected].name">
                                <button mat-icon-button matSuffix (click)="model.frames[selected].name = cleanFrameName(model.frames[selected].name)" [attr.aria-label]="'Hide password'" >
                                    <mat-icon>cleaning_services</mat-icon>
                                  </button>
                            </mat-form-field>

                            <div class="disp-flex width-33">
                                <mat-checkbox name="loop" class="auto-flex align-center" [(ngModel)]="model.loop">
                                    Loop
                                </mat-checkbox>
                                <mat-checkbox name="invert" class="auto-flex align-center"
                                    [(ngModel)]="model.invert">Invert
                                </mat-checkbox>
                                <mat-checkbox name="mirror" class="auto-flex align-center"
                                    [(ngModel)]="model.mirror">Mirror
                                </mat-checkbox>
                            </div>
                        </div>

                        <!-- Duration/SpriteDim: -->
                        <div class="relative-input width-7" [style.right]="0" [style.top]="0"
                            [style.flexDirection]="'column'">

                            <mat-form-field class="no-flex full-width font-small">
                                <mat-label>Duration</mat-label>
                                <input type="number" matInput [(ngModel)]="model.frames[selected].duration"
                                    placeholder="100">
                                <span matTextSuffix>ms</span>
                            </mat-form-field>

                            <mat-form-field class="no-flex full-width font-small">
                                <mat-label>Sprite Width</mat-label>
                                <input type="number" matInput [(ngModel)]="spriteWidth" placeholder="192">
                                <span matTextSuffix>px</span>
                            </mat-form-field>

                            <mat-form-field class="no-flex full-width font-small">
                                <mat-label>Sprite Height</mat-label>
                                <input type="number" matInput [(ngModel)]="spriteHeight" placeholder="192">
                                <span matTextSuffix>px</span>
                            </mat-form-field>
                        </div>

                        <!-- Animation Editor Bottom Bar: -->
                        <div class="relative-input full-width auto-flex" [style.left]="0" [style.bottom]="0">

                            <div class="disp-flex auto-flex">

                                <mat-slider class="no-flex align-center" max="15" min="0.1" step="0.1"
                                    showTickMarks="true">
                                    <input matSliderThumb [(ngModel)]="zoomFactor">
                                </mat-slider>

                                <div class="auto-flex"></div>

                                <mat-form-field class="no-flex font-small width-8">
                                    <mat-label>Speed</mat-label>
                                    <input type="number" matInput [(ngModel)]="model.speed" placeholder="1">
                                    <span matTextSuffix>x</span>
                                </mat-form-field>

                            </div>

                        </div>


                    </div>

                </div>

                <mat-divider></mat-divider>

                <div class="gap-1 no-flex"></div>

                <!-- Animation Player Controls: -->
                <div class="disp-flex auto-flex" *ngIf="model && selected != -1">

                    <button *ngIf="!isPlaying" mat-icon-button color="primary" class="no-flex"
                        (click)="playAnimation()">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button *ngIf="isPlaying" mat-icon-button color="primary" class="no-flex" (click)="stopAnimation()">
                        <mat-icon>stop</mat-icon>
                    </button>

                    <div class="gap-1 no-flex"></div>

                    <mat-chip-set *ngIf="showFrames" class="auto-flex">
                        <mat-chip class="width-4 justify-center font-xsmall soltk-chip" *ngFor="let frame of frames"
                            (click)="onSelect(frame)"
                            [style.background-color]="selectedFrame == frame ? 'mediumvioletred' : 'cadetblue'">
                            {{frames.indexOf(frame)}}
                        </mat-chip>
                    </mat-chip-set>

                </div>

                <!-- Visual Frame Data -->
                <div class="disp-flex full-width" *ngIf="showFrames && selected > -1 && model.frames[selected].downstreamData">
                    <solacetk-attributes-panel class="auto-flex width-33" [panelMode]="1"
                        [panelName]="'Frame ' + selected + ' Data'" panelType="expansionpanel"
                        [(model)]="model.frames[selected].downstreamData">
                    </solacetk-attributes-panel>

                    <div class="gap-1 no-flex"></div>

                    <solacetk-controller-component class="auto-flex width-33" [(model)]="model.components"
                        panelColor="#006064" (getStateData)="onGetStateData($event)">
                    </solacetk-controller-component>
                </div>

            </div>

        </div>

        <div class="gap-2 no-flex"></div>

    </div>

    <div class="panel-actions disp-flex auto-flex full-width">
        <div class="gap-1 auto-flex"></div>
        <div *ngIf="showDataPanel">
            
            <button mat-button color="primary" class="no-flex" (click)="aseUpload.click()">Import Aseprite</button>
            <button mat-button color="primary" class="no-flex" (click)="sheetUpload.click()">Import Sprite
                Sheet</button>
            <button mat-button color="primary" class="no-flex" (click)="textureUpload.click()">Add Frame</button>

            <input type="file" class="file-input" (change)="onAseSelected($event)" accept=".ase,.aseprite" #aseUpload>
            <input type="file" class="file-input" (change)="onSheetSelected($event)" accept=".png" #sheetUpload>
            <input type="file" class="file-input" (change)="onTextureSelected($event)" accept=".png" #textureUpload>


        </div>
    </div>

</solacetk-panel>