.pos-bottom {
    position: absolute;
    bottom: 0px;
    margin-bottom: 2%;
}

.bg-task-card {
    background-color: cadetblue;
}

.component-collider {
    background-color: rgb(192, 32, 64, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 16%;
    right: 42%;
    bottom: 0px;
    top: 8%;
}

.component-ray {
    background-color: rgba(24, 144, 192, 0.667);
    border-radius: 8px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.relative-container {
    position: relative;
}