<solacetk-model-list [(model)]="model" moduleName="Action Events" modelUri="Actions/events">
    <div class="editor">

    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Conditions
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div *ngIf="model.conditions">
                        <mat-card *ngFor="let cond of model.conditions">
                            <mat-card-title>{{cond.name}}</mat-card-title>
                            <mat-card-subtitle>Description: {{cond.description}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </ng-template>

                <mat-action-row>
                    <button mat-button color="primary" (click)="openConditionsSheet()">Add</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Downstream Data
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div *ngIf="model.downstreamData">
                        <solacetk-attributes-panel [(model)]="model.downstreamData"></solacetk-attributes-panel>
                    </div>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="auto-flex align-start full-width">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Target Data
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                    <mat-form-field class="auto-flex model-formfield">
                        <input matInput placeholder="Target Name" [(ngModel)]="model.targetName">
                    </mat-form-field>
                    <mat-checkbox class="auto-flex align-center" name="validateTarget" [(ngModel)]="model.validateTarget">
                        Validate Target Conditions?
                    </mat-checkbox>
                    <mat-checkbox class="auto-flex align-center" name="includeSelf" [(ngModel)]="model.includeSelf">
                        Include Self?
                    </mat-checkbox>


                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </div>

</solacetk-model-list>