<solacetk-model-list [(model)]="model" moduleName="Action Events" modelUri="Events" moduleColor="#ac6060" modulePlateType="Ev">
    <div class="editor">

        <!-- <mat-chip-grid *ngIf="model.conditions">
                <mat-chip *ngFor="let cond of model.conditions" style="background-color: #006064;">
                    <span matChipEditInput>{{cond.key}} {{conditionalOperators[cond.operator]}} {{cond.data}}</span>
                </mat-chip>
        </mat-chip-grid> -->

        <mat-chip-grid *ngIf="model.conditions">
            <div class="disp-flex no-flex" *ngFor="let cond of model.conditions" >
                <mat-chip style="background-color: #006064;">
                    <span matChipEditInput>{{cond.key}}</span>
                </mat-chip>

                <mat-chip style="background-color: #006064;" [matMenuTriggerFor]="conditionalOps">
                    <span>{{conditionalOperators[cond.operator]}}</span>
                    <mat-menu #conditionalOps="matMenu">
                        <a mat-menu-item [routerLink]="['/characters']">
                            <mat-icon style="color: seagreen;">label</mat-icon>Characters
                        </a>
                    </mat-menu>
                </mat-chip>

                <mat-chip style="background-color: #006064;">
                    <span matChipEditInput>{{cond.data}}</span>
                </mat-chip>
            </div>
        </mat-chip-grid>

    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">
            <solacetk-attributes-panel class="auto-flex mb-2 full-width" panelName="Conditions"
                panelColor="#006064" panelType="expansionpanel" [(model)]="model.conditions"
                [operatorsEnabled]="true">
            </solacetk-attributes-panel>

            <solacetk-attributes-panel [panelMode]="1" class="auto-flex mb-2 full-width" panelName="State Data"
                panelType="expansionpanel" [(model)]="model.downstreamData"></solacetk-attributes-panel>

            <solacetk-messages-panel class="auto-flex full-width" creationType="local" panelName="Messages" panelType="expansionpanel"
                [(model)]="model.messages"></solacetk-messages-panel>
        </mat-accordion>

    </div>

</solacetk-model-list>