<solacetk-model-list [(model)]="model" moduleName="Action Events" modelUri="Behaviors/events">
    <div class="editor">
        <mat-chip-list *ngIf="model.conditions">
                <mat-chip *ngFor="let cond of model.conditions" style="background-color: #006064;">
                    {{cond.key}} {{conditionalOperators[cond.operator]}} {{cond.data}}
                </mat-chip>
        </mat-chip-list>

    </div>

    <div class="editor-panels">

        <mat-accordion class="auto-flex align-start full-width">
            <solacetk-attributes-panel class="auto-flex mb-2 full-width" panelName="Conditions"
                panelColor="#006064" panelType="expansionpanel" [(model)]="model.conditions"
                [operatorsEnabled]="true">
            </solacetk-attributes-panel>

            <solacetk-attributes-panel [panelMode]="1" class="auto-flex mb-2 full-width" panelName="State Data"
                panelType="expansionpanel" [(model)]="model.downstreamData"></solacetk-attributes-panel>

            <solacetk-messages-panel class="auto-flex full-width" panelName="Messages" panelType="expansionpanel"
                [(model)]="model.messages"></solacetk-messages-panel>
        </mat-accordion>

    </div>

</solacetk-model-list>