<h1>Videos</h1>

<mat-card class="video-card">
    <mat-card-title>Modern Tooling and Development</mat-card-title>
    <mat-card-subtitle>with Containers and Kubernetes</mat-card-subtitle>
    <mat-card-content>
        <p>Checkout a whole new line up of tools and tech to expedite modernization
            on a Container-based foundation - with the help of a highly capable Kubernetes
            Cluster and a number of native tools that live inside!
        </p>
        <iframe width="100%" height="315px" src="https://www.youtube.com/embed/Bfl0Pc_86Ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </mat-card-content>
    <mat-card-actions>
        <mat-chip-list selectable="false">
            <mat-chip>
                <icon-k8s></icon-k8s>
            </mat-chip>
            <mat-chip>
                <icon-azuredevops></icon-azuredevops>
            </mat-chip>
            <mat-chip>
                <icon-openshift></icon-openshift>
            </mat-chip>
        </mat-chip-list>
        
    </mat-card-actions>
</mat-card>
