<!-- <mat-toolbar [color]="toolNavColor" [class]="toolNavStyle"> -->

    <div class="disp-flex flex-vertical">
        <a mat-button class="let-space-1 auto-flex" [routerLink]="['/projects']">
            <mat-icon class="align-center">developer_board</mat-icon>
            PROJECTS
        </a>

        <div class="auto-flex" *ngFor="let menu of toolsList">
            <mat-nav-list>
                <div mat-subheader class="disp-flex">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    <div class="gap-2 no-flex"></div>
                    {{menu.name}}
                </div>
                <a mat-menu-item [routerLink]="['/' + item.route]" *ngFor="let item of menu.items">
                    <mat-icon style="color: mediumspringgreen;">label</mat-icon>{{item.name}}
                </a>
            </mat-nav-list>
        </div>

        <button mat-button class="let-space-1 auto-flex">
            <mat-icon>air</mat-icon>
            EFFECTS
        </button>
        <mat-nav-list>
            <a mat-menu-item [routerLink]="['/audioeffects']">Audio Effects</a>
            <a mat-menu-item [routerLink]="['/visualeffects']">Visual Effects</a>
            <a mat-menu-item [routerLink]="['/lights']">Lights</a>
            <a mat-menu-item [routerLink]="['/liquids']">Liquids</a>
            <a mat-menu-item [routerLink]="['/overlays']">Overlays</a>
        </mat-nav-list>
    </div>

<!-- </mat-toolbar> -->